In [1]:
import pandas as pd
import numpy as np

#### I. Tariffs

In [8]:
tariffs = pd.read_excel('us-china-trade-war-tariffs.xlsx', sheet_name='Panel b')

tariffs

,Date,Chinese exports subject to US tariffs,US exports subject to Chinese tariffs
0,2018-01-01,0.000000,0.000000
1,2018-02-07,0.235773,0.000000
2,2018-03-23,0.794760,0.000000
3,2018-04-02,0.794760,1.918093
4,2018-05-01,0.794760,1.918093
...,...,...,...
57,2025-04-10,100.000000,100.000000
58,2025-04-11,100.000000,100.000000
59,2025-04-12,100.000000,100.000000
60,2025-05-03,100.000000,100.000000
61,2025-05-14,100.000000,100.000000

In [9]:
# melt
tariffs = tariffs.melt(id_vars=['Date'], var_name='type', value_name='value')

tariffs.columns = ['date', 'type', 'value']

tariffs['value'] = tariffs['value'] / 100

In [10]:
# save to csv
tariffs.to_csv('us_china_tariffs.csv', index=False)

### II. Consumption

In [4]:
# import world bank api
from wbdata import get_dataframe
import wbdata
import datetime
import pandas as pd

In [8]:
# Define the indicator for final consumption as % of GDP
indicators = {'NE.CON.TOTL.ZS': 'value'}

# Define the countries (China, US, UK)
countries = ['CHN', 'USA', 'GBR']

# Fetch the data without date restriction to get the full available time series
consumption_df = get_dataframe(indicators, country=countries)

# Clean up the dataframe
consumption_df = consumption_df.reset_index()

# Sort by country and year for better readability
consumption_df = consumption_df.sort_values(['country', 'date'])

# Display the first few rows
consumption_df.head()

   country  date      value
64   China  1960  62.893192
63   China  1961  80.572870
62   China  1962  84.853712
61   China  1963  81.162909
60   China  1964  73.205613

In [10]:
consumption_df['value'] = consumption_df['value'] / 100

In [11]:
# remove rows with NaN values
consumption_df = consumption_df.dropna()

# export to csv
consumption_df.to_csv('consumption.csv', index=False)