In [1]:
import pandas as pd

In [11]:
# change from "YYYY QX" to quarter start timestamp
gfcf['Time Period'] = pd.PeriodIndex(
    gfcf['Time Period'].str.replace(' Q', 'Q'),
    freq='Q'
).to_timestamp(how='start')

# remove [] and everything inside them AND the space before it
gfcf.columns = gfcf.columns.str.replace(r'\s*\[.*\]', '', regex=True)

gfcf

,Time Period,Total sector (S.1) Transport equipment,Total sector (S.1) ICT equipment and other machinery and equipment,Total sector (S.1) Dwellings,Total sector (S.1) Other buildings and structures and transfer costs,Total sector (S.1) Intellectual property products,Total sector (S.1) Total asset (GFCF)
1,1997-01-01,3547,9079,20290,24335,12217,66734
2,1997-04-01,3730,9397,19619,25029,12530,67734
3,1997-07-01,3954,10301,20015,26487,12904,71812
4,1997-10-01,3838,10462,21434,27305,13228,73702
5,1998-01-01,4489,10318,20045,27821,13651,74393
...,...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946,133574
112,2024-10-01,7060,18711,27069,43718,35888,132446
113,2025-01-01,7533,20173,27217,46025,35958,136907
114,2025-04-01,6655,19409,27748,46035,35890,135737
115,2025-07-01,6460,20793,28000,45990,36217,137460

In [12]:
# remove "Total sector (S.1) " from col names
gfcf.columns = gfcf.columns.str.replace('Total sector \(S\.1\) ', '', regex=True)

gfcf

<>:2: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\('
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gq/T/ipykernel_72548/3257099476.py:2: SyntaxWarning: invalid escape sequence '\('
  gfcf.columns = gfcf.columns.str.replace('Total sector \(S\.1\) ', '', regex=True)

,Time Period,Transport equipment,ICT equipment and other machinery and equipment,Dwellings,Other buildings and structures and transfer costs,Intellectual property products,Total asset (GFCF)
1,1997-01-01,3547,9079,20290,24335,12217,66734
2,1997-04-01,3730,9397,19619,25029,12530,67734
3,1997-07-01,3954,10301,20015,26487,12904,71812
4,1997-10-01,3838,10462,21434,27305,13228,73702
5,1998-01-01,4489,10318,20045,27821,13651,74393
...,...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946,133574
112,2024-10-01,7060,18711,27069,43718,35888,132446
113,2025-01-01,7533,20173,27217,46025,35958,136907
114,2025-04-01,6655,19409,27748,46035,35890,135737
115,2025-07-01,6460,20793,28000,45990,36217,137460

In [14]:
gfcf.drop(
    columns=['Total asset (GFCF)'],
    inplace=True
)

gfcf

,Time Period,Transport equipment,ICT equipment and other machinery and equipment,Dwellings,Other buildings and structures and transfer costs,Intellectual property products
1,1997-01-01,3547,9079,20290,24335,12217
2,1997-04-01,3730,9397,19619,25029,12530
3,1997-07-01,3954,10301,20015,26487,12904
4,1997-10-01,3838,10462,21434,27305,13228
5,1998-01-01,4489,10318,20045,27821,13651
...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946
112,2024-10-01,7060,18711,27069,43718,35888
113,2025-01-01,7533,20173,27217,46025,35958
114,2025-04-01,6655,19409,27748,46035,35890
115,2025-07-01,6460,20793,28000,45990,36217

In [15]:
gfcf = gfcf.melt(id_vars='Time Period', var_name='Asset Type', value_name='Value')

gfcf.to_csv('gfcf_components.csv', index=False)

# Business investment by Asset

In [20]:
bi = pd.read_excel(
    'businessinvestmentbyasset.xlsx',
    sheet_name='CVM_SA_(Quarterly)',
    skiprows=2,
    # until row 119
    nrows=117
    )



bi

,Time period column and title row,Business Investment [note 1],Transport Equipment [note 2],ICT equipment and other machinery and equipment [note 3],Other buildings and structures [note 4],Intellectual Property Products [note 5]
0,Series Identifier,NPEL,EDOH,EDOP,EDQZ,EDRA
1,1997 Q1,37825,3514,6710,18842,11564
2,1997 Q2,38040,3684,7309,18034,11928
3,1997 Q3,40957,3903,7866,19678,12311
4,1997 Q4,41619,3793,8049,20137,12595
...,...,...,...,...,...,...
111,2024 Q3,75993,7348,12924,22947,32774
112,2024 Q4,74353,6749,12617,22086,32901
113,2025 Q1,78193,7097,13945,24029,33122
114,2025 Q2,76879,6312,13421,24329,32817
115,2025 Q3,78053,6120,14628,24023,33282

In [ ]:
# drop the first row which is just the column names repeated
bi.drop(index=bi.index[0], inplace=True)

# rename first so Time Period exists
bi.rename(
    columns={"Time period column and title row": "Time Period"},
    inplace=True
)

# change from "YYYY QX" to quarter start timestamp
bi['Time Period'] = pd.PeriodIndex(
    bi['Time Period'].str.replace(' Q', 'Q'),
    freq='Q'
).to_timestamp(how='start')

# remove [] and everything inside them AND the space before it
bi.columns = bi.columns.str.replace(r'\s*\[.*\]', '', regex=True)

bi

KeyError: '[0] not found in axis'