In [1]:
import pandas as pd

In [11]:
# change from "YYYY QX" to quarter start timestamp
gfcf['Time Period'] = pd.PeriodIndex(
    gfcf['Time Period'].str.replace(' Q', 'Q'),
    freq='Q'
).to_timestamp(how='start')

# remove [] and everything inside them AND the space before it
gfcf.columns = gfcf.columns.str.replace(r'\s*\[.*\]', '', regex=True)

gfcf

,Time Period,Total sector (S.1) Transport equipment,Total sector (S.1) ICT equipment and other machinery and equipment,Total sector (S.1) Dwellings,Total sector (S.1) Other buildings and structures and transfer costs,Total sector (S.1) Intellectual property products,Total sector (S.1) Total asset (GFCF)
1,1997-01-01,3547,9079,20290,24335,12217,66734
2,1997-04-01,3730,9397,19619,25029,12530,67734
3,1997-07-01,3954,10301,20015,26487,12904,71812
4,1997-10-01,3838,10462,21434,27305,13228,73702
5,1998-01-01,4489,10318,20045,27821,13651,74393
...,...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946,133574
112,2024-10-01,7060,18711,27069,43718,35888,132446
113,2025-01-01,7533,20173,27217,46025,35958,136907
114,2025-04-01,6655,19409,27748,46035,35890,135737
115,2025-07-01,6460,20793,28000,45990,36217,137460

In [12]:
# remove "Total sector (S.1) " from col names
gfcf.columns = gfcf.columns.str.replace('Total sector \(S\.1\) ', '', regex=True)

gfcf

<>:2: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\('
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gq/T/ipykernel_72548/3257099476.py:2: SyntaxWarning: invalid escape sequence '\('
  gfcf.columns = gfcf.columns.str.replace('Total sector \(S\.1\) ', '', regex=True)

,Time Period,Transport equipment,ICT equipment and other machinery and equipment,Dwellings,Other buildings and structures and transfer costs,Intellectual property products,Total asset (GFCF)
1,1997-01-01,3547,9079,20290,24335,12217,66734
2,1997-04-01,3730,9397,19619,25029,12530,67734
3,1997-07-01,3954,10301,20015,26487,12904,71812
4,1997-10-01,3838,10462,21434,27305,13228,73702
5,1998-01-01,4489,10318,20045,27821,13651,74393
...,...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946,133574
112,2024-10-01,7060,18711,27069,43718,35888,132446
113,2025-01-01,7533,20173,27217,46025,35958,136907
114,2025-04-01,6655,19409,27748,46035,35890,135737
115,2025-07-01,6460,20793,28000,45990,36217,137460

In [14]:
gfcf.drop(
    columns=['Total asset (GFCF)'],
    inplace=True
)

gfcf

,Time Period,Transport equipment,ICT equipment and other machinery and equipment,Dwellings,Other buildings and structures and transfer costs,Intellectual property products
1,1997-01-01,3547,9079,20290,24335,12217
2,1997-04-01,3730,9397,19619,25029,12530
3,1997-07-01,3954,10301,20015,26487,12904
4,1997-10-01,3838,10462,21434,27305,13228
5,1998-01-01,4489,10318,20045,27821,13651
...,...,...,...,...,...,...
111,2024-07-01,7696,19116,27027,43789,35946
112,2024-10-01,7060,18711,27069,43718,35888
113,2025-01-01,7533,20173,27217,46025,35958
114,2025-04-01,6655,19409,27748,46035,35890
115,2025-07-01,6460,20793,28000,45990,36217

In [15]:
gfcf = gfcf.melt(id_vars='Time Period', var_name='Asset Type', value_name='Value')

gfcf.to_csv('gfcf_components.csv', index=False)

# Business investment by Asset

In [28]:
bi = pd.read_excel(
    'businessinvestmentbyasset.xlsx',
    sheet_name='CVM_SA_(Quarterly)',
    skiprows=2,
    # until row 119
    nrows=117
    )

# drop the first row which is just the column names repeated
bi.drop(index=bi.index[0], inplace=True)

# rename first so Time Period exists
bi.rename(
    columns={"Time period column and title row": "Time Period"},
    inplace=True
)

# change from "YYYY QX" to quarter start timestamp
bi['Time Period'] = pd.PeriodIndex(
    bi['Time Period'].str.replace(' Q', 'Q'),
    freq='Q'
).to_timestamp(how='start')

# remove [] and everything inside them AND the space before it
bi.columns = bi.columns.str.replace(r'\s*\[.*\]', '', regex=True)

bi.drop(
    columns=['Business Investment'],
    inplace=True
)

bi = bi.melt(id_vars='Time Period', var_name='Asset Type', value_name='Value')

bi.to_csv('business_investment_components.csv', index=False)

In [2]:
import pandas as pd

FILE = "gdpexpenditurerealtimedatabase.xlsx"
VINTAGE = "2025 Q4 1st"  # most recent column

components = {
    "ABJR": "Consumption (C)",
    "NMRY": "Government Spending (G)",
    "NPQT": "Investment (I)",
}

rows = []
for sheet, label in components.items():
    df = pd.read_excel(FILE, sheet_name=sheet, header=3)
    # latest quarter in the most recent vintage
    latest_value = df[VINTAGE].dropna().iloc[-1]
    rows.append({"component": label, "value": latest_value})

chart_df = pd.DataFrame(rows)
chart_df["value"] = chart_df["value"].astype(float)

print(chart_df)
#        component      value
# 0  Consumption (C)  418232.0
# 1  Government Spending (G)  149452.0
# 2  Investment (I)  137176.0

                 component     value
0          Consumption (C)  418232.0
1  Government Spending (G)  149452.0
2           Investment (I)  137176.0

In [3]:
# save to csv
chart_df.to_csv("gdp_components_latest.csv", index=False)

In [4]:
import requests
import pandas as pd

# OECD member ISO3 codes (38 members as of 2025)
OECD = [
    "AUS", "AUT", "BEL", "CAN", "CHL", "COL", "CRI", "CZE", "DNK", "EST",
    "FIN", "FRA", "DEU", "GRC", "HUN", "ISL", "IRL", "ISR", "ITA", "JPN",
    "KOR", "LVA", "LTU", "LUX", "MEX", "NLD", "NZL", "NOR", "POL", "PRT",
    "SVK", "SVN", "ESP", "SWE", "CHE", "TUR", "GBR", "USA",
]

# World Bank API: GFCF as % of GDP, most recent non-empty value
url = "https://api.worldbank.org/v2/country/{}/indicator/NE.GDI.FTOT.ZS"
params = {"format": "json", "per_page": 300, "mrnev": 1}

# You can request all at once by joining codes with ";"
codes = ";".join(OECD)
r = requests.get(url.format(codes), params=params)
data = r.json()[1]

rows = [
    {
        "country": d["country"]["value"],
        "iso3": d["countryiso3code"],
        "gfcf_pct_gdp": d["value"],
        "year": int(d["date"]),
    }
    for d in data
    if d["value"] is not None
]

df = pd.DataFrame(rows).sort_values("gfcf_pct_gdp", ascending=False).reset_index(drop=True)
print(df.to_string())

            country iso3  gfcf_pct_gdp  year
0           Turkiye  TUR     31.315727  2024
1       Korea, Rep.  KOR     30.029371  2024
2           Iceland  ISL     26.645090  2024
3           Czechia  CZE     26.487942  2024
4             Japan  JPN     26.084090  2024
5            Sweden  SWE     25.096887  2024
6       Switzerland  CHE     25.054619  2024
7           Belgium  BEL     24.247677  2024
8            Mexico  MEX     24.124041  2024
9         Australia  AUS     24.091977  2024
10          Estonia  EST     23.896550  2024
11          Austria  AUT     23.547911  2024
12            Chile  CHL     23.489351  2024
13          Denmark  DNK     23.332038  2024
14      New Zealand  NZL     23.206672  2024
15          Hungary  HUN     23.058006  2024
16           Israel  ISR     22.690494  2024
17           Canada  CAN     22.595958  2024
18        Lithuania  LTU     22.500961  2024
19           Latvia  LVA     22.406270  2024
20            Italy  ITA     22.152328  2024
21           France  FRA     22.096847  2024
22          Finland  FIN     21.994978  2024
23           Norway  NOR     21.987813  2024
24    United States  USA     21.698757  2024
25         Slovenia  SVN     20.921412  2024
26          Germany  DEU     20.460317  2024
27         Portugal  PRT     20.440430  2024
28  Slovak Republic  SVK     20.418397  2024
29            Spain  ESP     20.287833  2024
30      Netherlands  NLD     19.849010  2024
31   United Kingdom  GBR     18.667888  2024
32          Ireland  IRL     17.348014  2024
33           Poland  POL     17.040717  2024
34         Colombia  COL     16.594538  2024
35           Greece  GRC     16.039523  2024
36       Costa Rica  CRI     15.825524  2024
37       Luxembourg  LUX     15.375145  2024

In [6]:
# save to csv
df.to_csv("gfcf_pct_gdp_oecd.csv", index=False)

In [11]:
df = pd.read_excel(
    "grossfixedcapitalformationbysectorandasset.xlsx",
    sheet_name="G1_CVM_SA_Q_levels",
    header=None,
    skiprows=7,
)

df = df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 12]]
df.columns = [
    "period",
    "Business Investment (excl. dwellings)",
    "General Government",
    "public_corp_dwellings",
    "public_corp_transfer",
    "private_sector_dwellings",
    "private_sector_transfer",
    "total_gfcf",
]

df = df.dropna(subset=["period"])
df = df[df["period"].astype(str).str.match(r"^\d{4} Q[1-4]$")]

num_cols = df.columns.drop("period")
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

# Combine sub-columns
df["Public Corporations (housing)"] = df["public_corp_dwellings"] + df["public_corp_transfer"]
df["Private Housing & Transfer Costs"] = df["private_sector_dwellings"] + df["private_sector_transfer"]

# Parse period to datetime (start of quarter)
df["period"] = pd.PeriodIndex(df["period"].str.replace(" ", ""), freq="Q").to_timestamp()

# Select and melt
sector_cols = [
    "Business Investment (excl. dwellings)",
    "General Government",
    "Public Corporations (housing)",
    "Private Housing & Transfer Costs",
]

melted = (
    df[["period"] + sector_cols]
    .reset_index(drop=True)
    .melt(id_vars="period", var_name="Sector", value_name="Value")
)

# make Value the absolute value of itself
melted["Value"] = melted["Value"].abs()


melted.head()

      period                                 Sector  Value
0 1997-01-01  Business Investment (excl. dwellings)  37825
1 1997-04-01  Business Investment (excl. dwellings)  38040
2 1997-07-01  Business Investment (excl. dwellings)  40957
3 1997-10-01  Business Investment (excl. dwellings)  41619
4 1998-01-01  Business Investment (excl. dwellings)  42028

In [12]:
melted.to_csv("gfcf_by_sector.csv", index=False)

In [28]:
key = "653ed88f4bdd6c12141a8c80288845c4"

In [14]:
gfcf_bi = pd.read_excel("gfcf_bi_time_series.xlsx", skiprows= 10, skipfooter=2)

gfcf_bi.rename(columns={"Unnamed: 0": "Time Period"}, inplace=True)

# name datetime
gfcf_bi["Time Period"] = pd.PeriodIndex(
    gfcf_bi["Time Period"].str.replace(" ", ""),
    freq="Q"
).to_timestamp()

# melt
gfcf_bi_melted = gfcf_bi.melt(id_vars="Time Period", var_name="Asset Type", value_name="Value")

gfcf_bi_melted.to_csv("gfcf_bi_time_series.csv", index=False)

In [30]:
"""
UK vs US Scale-Up Finance: Data Pull for Vega-Lite
====================================================
Output:
  uk_us_nfc_finance_long.csv — long-form for a faceted line chart
  Columns: date, country, indicator, value

Requirements:
  pip install fredapi pandas --break-system-packages

FRED API key: https://fred.stlouisfed.org/docs/api/api_key.html
"""

import os
import pandas as pd
from fredapi import Fred

# ── CONFIG ──────────────────────────────────────────────────────────────────
FRED_API_KEY = os.environ.get("FRED_API_KEY", key)
fred = Fred(api_key=FRED_API_KEY)
START = "1990-01-01"

# ── FRED SERIES ─────────────────────────────────────────────────────────────
#
# Panel 1: NFC debt securities outstanding (BIS Debt Securities Statistics)
#   UNITS: Millions of USD.  ← NB: millions, not billions
#   https://data.bis.org/topics/DSS
#
# Panel 2: Total credit to NFCs, % of GDP (BIS credit-to-NFS long series)
#   Break-adjusted. Methodology: Dembiermont et al. (2013),
#   BIS Quarterly Review, March 2013.
#   https://www.bis.org/publ/qtrpdf/r_qt1303h.htm
#
# Panel 3 (derived): NFC debt securities as share of total NFC credit
#   = bonds outstanding (millions USD, converted to billions)
#     / total NFC credit (billions USD) × 100
#
#   CRITICAL: TDSAMRIAONCUS/GB are in MILLIONS of USD,
#   while CRDQUSANABIS/QGBNAMUSDA are in BILLIONS of USD.
#   Must divide bonds by 1000 before computing the ratio.

series_map = {
    # Panel 1: NFC debt securities outstanding
    # Units: Millions of USD. Quarterly, NSA. Ends Q4 2022.
    "TDSAMRIAONCUS": {"country": "US", "indicator": "NFC debt securities outstanding (USD bn)", "unit_factor": 1000},
    "TDSAMRIAONCGB": {"country": "UK", "indicator": "NFC debt securities outstanding (USD bn)", "unit_factor": 1000},

    # Panel 2: Total credit to NFCs (% of GDP)
    "QUSNAM770A": {"country": "US", "indicator": "Total credit to NFCs (% of GDP)", "unit_factor": 1},
    "QGBNAM770A": {"country": "UK", "indicator": "Total credit to NFCs (% of GDP)", "unit_factor": 1},

    # Panel 3 inputs: Total credit to NFCs in USD (billions)
    "CRDQUSANABIS": {"country": "US", "indicator": "_total_nfc_credit_usd_bn", "unit_factor": 1},
    "QGBNAMUSDA":   {"country": "UK", "indicator": "_total_nfc_credit_usd_bn", "unit_factor": 1},
}

# ── FETCH DATA ──────────────────────────────────────────────────────────────
raw = {}
for series_id, meta in series_map.items():
    try:
        s = fred.get_series(series_id, observation_start=START)
        s.name = series_id
        raw[series_id] = s
        print(f"  ✓ {meta['country']} | {meta['indicator']} ({series_id}): "
              f"{len(s)} obs, {s.index.min().date()} → {s.index.max().date()}")
    except Exception as e:
        print(f"  ✗ {series_id}: {e}")

# ── BUILD LONG-FORM DATAFRAME ──────────────────────────────────────────────
records = []

# Panels 1 & 2: direct series (skip internal helpers starting with _)
for series_id, meta in series_map.items():
    if series_id not in raw:
        continue
    if meta["indicator"].startswith("_"):
        continue
    s = raw[series_id].dropna()
    factor = meta["unit_factor"]
    for date, value in s.items():
        records.append({
            "date": date.strftime("%Y-%m-%d"),
            "country": meta["country"],
            "indicator": meta["indicator"],
            "value": round(float(value) / factor, 2),
        })

# Panel 3: Bond share of total NFC credit (derived)
# bonds are in MILLIONS, total credit in BILLIONS → divide bonds by 1000
panel3_pairs = [
    ("US", "TDSAMRIAONCUS", "CRDQUSANABIS"),
    ("UK", "TDSAMRIAONCGB", "QGBNAMUSDA"),
]

for country, bonds_id, total_id in panel3_pairs:
    if bonds_id not in raw or total_id not in raw:
        print(f"  ⚠ Cannot compute bond share for {country} — missing series")
        continue
    bonds = raw[bonds_id].dropna() / 1000  # millions → billions
    total = raw[total_id].dropna()
    common = bonds.index.intersection(total.index)
    if len(common) == 0:
        print(f"  ⚠ No overlapping dates for {country} bond share")
        continue
    bonds = bonds.loc[common]
    total = total.loc[common]
    share = (bonds / total) * 100
    for date, value in share.items():
        if pd.notna(value) and value >= 0:
            records.append({
                "date": date.strftime("%Y-%m-%d"),
                "country": country,
                "indicator": "NFC bonds as share of total NFC credit (%)",
                "value": round(float(value), 2),
            })

df_long = pd.DataFrame(records)
df_long = df_long.sort_values(["indicator", "country", "date"]).reset_index(drop=True)

# ── SAVE ────────────────────────────────────────────────────────────────────

df_long.to_csv(f"uk_us_nfc_finance_long.csv", index=False)
print(f"\nSaved: uk_us_nfc_finance_long.csv")

# ── SUMMARY ─────────────────────────────────────────────────────────────────
print(f"\nLong-form dataframe: {len(df_long)} rows")
print(f"Indicators: {df_long['indicator'].unique().tolist()}")
print(f"Date range: {df_long['date'].min()} → {df_long['date'].max()}")
print("\nIndicators (use as Vega-Lite facet field):")
for ind in df_long["indicator"].unique():
    subset = df_long[df_long["indicator"] == ind]
    countries = subset["country"].unique().tolist()
    print(f"  • {ind}")
    for c in countries:
        cs = subset[subset["country"] == c]
        print(f"    {c}: {cs['date'].min()} → {cs['date'].max()}, "
              f"{len(cs)} obs, latest = {cs['value'].iloc[-1]}")

  ✓ US | NFC debt securities outstanding (USD bn) (TDSAMRIAONCUS): 132 obs, 1990-01-01 → 2022-10-01
  ✓ UK | NFC debt securities outstanding (USD bn) (TDSAMRIAONCGB): 132 obs, 1990-01-01 → 2022-10-01
  ✓ US | Total credit to NFCs (% of GDP) (QUSNAM770A): 142 obs, 1990-01-01 → 2025-04-01
  ✓ UK | Total credit to NFCs (% of GDP) (QGBNAM770A): 142 obs, 1990-01-01 → 2025-04-01
  ✓ US | _total_nfc_credit_usd_bn (CRDQUSANABIS): 142 obs, 1990-01-01 → 2025-04-01
  ✓ UK | _total_nfc_credit_usd_bn (QGBNAMUSDA): 142 obs, 1990-01-01 → 2025-04-01

Saved: uk_us_nfc_finance_long.csv

Long-form dataframe: 812 rows
Indicators: ['NFC bonds as share of total NFC credit (%)', 'NFC debt securities outstanding (USD bn)', 'Total credit to NFCs (% of GDP)']
Date range: 1990-01-01 → 2025-04-01

Indicators (use as Vega-Lite facet field):
  • NFC bonds as share of total NFC credit (%)
    UK: 1990-01-01 → 2022-10-01, 132 obs, latest = 19.36
    US: 1990-01-01 → 2022-10-01, 132 obs, latest = 36.57
  • NFC debt securities outstanding (USD bn)
    UK: 1990-01-01 → 2022-10-01, 132 obs, latest = 415.89
    US: 1990-01-01 → 2022-10-01, 132 obs, latest = 7545.44
  • Total credit to NFCs (% of GDP)
    UK: 1990-01-01 → 2025-04-01, 142 obs, latest = 58.5
    US: 1990-01-01 → 2025-04-01, 142 obs, latest = 73.0

In [26]:
df_long[df_long["indicator"] == "NFC bonds as share of total NFC credit (%)"]

           date country                                   indicator     value
0    1990-01-01      UK  NFC bonds as share of total NFC credit (%)  13337.12
1    1990-04-01      UK  NFC bonds as share of total NFC credit (%)  12956.98
2    1990-07-01      UK  NFC bonds as share of total NFC credit (%)  13425.92
3    1990-10-01      UK  NFC bonds as share of total NFC credit (%)  13632.75
4    1991-01-01      UK  NFC bonds as share of total NFC credit (%)  15244.00
..          ...     ...                                         ...       ...
259  2021-10-01      US  NFC bonds as share of total NFC credit (%)  38193.42
260  2022-01-01      US  NFC bonds as share of total NFC credit (%)  37863.05
261  2022-04-01      US  NFC bonds as share of total NFC credit (%)  37069.98
262  2022-07-01      US  NFC bonds as share of total NFC credit (%)  36831.23
263  2022-10-01      US  NFC bonds as share of total NFC credit (%)  36566.04

[264 rows x 4 columns]