In [1]:
pip install wbgapi

Collecting wbgapi
  Obtaining dependency information for wbgapi from https://files.pythonhosted.org/packages/00/12/224030af4886e119a3d03b709f7130e9601a4d15332e1d6a35671b25a4de/wbgapi-1.0.12-py3-none-any.whl.metadata
  Downloading wbgapi-1.0.12-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests in /Users/finn/anaconda3/lib/python3.11/site-packages (from wbgapi) (2.31.0)
Requirement already satisfied: PyYAML in /Users/finn/anaconda3/lib/python3.11/site-packages (from wbgapi) (6.0.2)
Requirement already satisfied: tabulate in /Users/finn/anaconda3/lib/python3.11/site-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/finn/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/finn/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/finn/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/finn/anaconda3/lib/python3.11/site-packages (from requests->wbgapi) (2023.7.22)
Downloading wbgapi-1.0.12-py3-none-any.whl (36 kB)
Installing collected packages: wbgapi
Successfully installed wbgapi-1.0.12
Note: you may need to restart the kernel to use updated packages.

In [2]:
import wbgapi as wb
import pandas as pd

# Advanced chart example: GDP, Health and Environment

Let's use the World Bank API's package to get data on:

- GDP Pc PPP
- CO2 intensity
- Population

### GDP per capita
First, starting with GDP per capita (PPP, 2021 USD)

In [14]:
# The GDP PC PPP data
full_gdp_pc_df = wb.data.DataFrame('NY.GDP.PCAP.PP.KD', labels=True)

In [18]:
gdp_pc_df = full_gdp_pc_df.copy() # Using a copy to avoid re-downloading the data as we experiment

gdp_pc_df = gdp_pc_df.reset_index() # The country code (iso3) is in the index, so we need to move it to a column

gdp_pc_df = gdp_pc_df.melt(id_vars=['Country', 'economy'], var_name='date', value_name='gdp_pc') # Moving our data from wide to long format
gdp_pc_df.columns = ['country', 'iso3', 'date', 'gdp_pc'] # Renaming the columns

gdp_pc_df['date'] = gdp_pc_df['date'].str.replace('YR', '') # Removing the 'YR' prefix from the date
gdp_pc_df['date'] = pd.to_datetime(gdp_pc_df['date'], format='%Y') # And treating it as a date

gdp_pc_df = gdp_pc_df.dropna() # Dropping rows with missing values

gdp_pc_df

                              country iso3       date        gdp_pc
7980                         Zimbabwe  ZWE 1990-01-01   4189.552481
7981                           Zambia  ZMB 1990-01-01   2456.588763
7985                         Viet Nam  VNM 1990-01-01   2416.030525
7987                          Vanuatu  VUT 1990-01-01   3044.869413
7988                       Uzbekistan  UZB 1990-01-01   3807.604591
...                               ...  ...        ...           ...
17019  Central Europe and the Baltics  CEB 2023-01-01  42391.250132
17020          Caribbean small states  CSS 2023-01-01  28099.087171
17021                      Arab World  ARB 2023-01-01  16288.054296
17022      Africa Western and Central  AFW 2023-01-01   4857.987533
17023     Africa Eastern and Southern  AFE 2023-01-01   4047.007031

[8175 rows x 4 columns]

## CO2 Intensity

In [29]:
full_co2_df = wb.data.DataFrame('EN.GHG.CO2.PC.CE.AR5', labels=False)

In [30]:
co2_df = full_co2_df.copy() # Using a copy to avoid re-downloading the data as we experiment

co2_df = co2_df.reset_index() # The country code (iso3) is in the index, so we need to move it to a column

co2_df = co2_df.melt(id_vars=['economy'], var_name='date', value_name='co2') # Moving our data from wide to long format
co2_df.columns = ['iso3', 'date', 'co2'] # Renaming the columns

co2_df['date'] = co2_df['date'].str.replace('YR', '') # Removing the 'YR' prefix from the date
co2_df['date'] = pd.to_datetime(co2_df['date'], format='%Y') # And treating it as a date

co2_df = co2_df.dropna() # Dropping rows with missing values

co2_df

      iso3       date       co2
2660   ABW 1970-01-01  0.426353
2661   AFE 1970-01-01  1.350890
2662   AFG 1970-01-01  0.161267
2663   AFW 1970-01-01  0.349508
2664   AGO 1970-01-01  1.484021
...    ...        ...       ...
16752  WSM 2022-01-01  1.598151
16754  YEM 2022-01-01  0.363930
16755  ZAF 2022-01-01  6.761533
16756  ZMB 2022-01-01  0.463126
16757  ZWE 2022-01-01  0.626432

[13303 rows x 3 columns]

## Population

In [24]:
full_pop_df = wb.data.DataFrame('SP.POP.TOTL', labels=False)

In [27]:
pop_df = full_pop_df.copy() # Using a copy to avoid re-downloading the data as we experiment

pop_df = pop_df.reset_index() # The country code (iso3) is in the index, so we need to move it to a column

pop_df = pop_df.melt(id_vars=['economy'], var_name='date', value_name='pop') # Moving our data from wide to long format
pop_df.columns = ['iso3', 'date', 'pop'] # Renaming the columns

pop_df['date'] = pop_df['date'].str.replace('YR', '') # Removing the 'YR' prefix from the date
pop_df['date'] = pd.to_datetime(pop_df['date'], format='%Y') # And treating it as a date

pop_df = pop_df.dropna() # Dropping rows with missing values

pop_df

      iso3       date          pop
0      ABW 1960-01-01      54608.0
1      AFE 1960-01-01  130692579.0
2      AFG 1960-01-01    8622466.0
3      AFW 1960-01-01   97256290.0
4      AGO 1960-01-01    5357195.0
...    ...        ...          ...
17019  XKX 2023-01-01    1756374.0
17020  YEM 2023-01-01   34449825.0
17021  ZAF 2023-01-01   60414495.0
17022  ZMB 2023-01-01   20569737.0
17023  ZWE 2023-01-01   16665409.0

[16930 rows x 3 columns]

# Merging our data

In [32]:
df = pd.merge(gdp_pc_df, co2_df, on=['iso3', 'date'], how='inner')
df = pd.merge(df, pop_df, on=['iso3', 'date'], how='inner')

df.to_csv('gdp_co2_pop.csv', index=False)

OSError: [Errno 30] Read-only file system: 'gdp_co2_pop.csv'

In [8]:
gdp_pc_df.columns

Index(['Country', 'YR1960', 'YR1961', 'YR1962', 'YR1963', 'YR1964', 'YR1965',
       'YR1966', 'YR1967', 'YR1968', 'YR1969', 'YR1970', 'YR1971', 'YR1972',
       'YR1973', 'YR1974', 'YR1975', 'YR1976', 'YR1977', 'YR1978', 'YR1979',
       'YR1980', 'YR1981', 'YR1982', 'YR1983', 'YR1984', 'YR1985', 'YR1986',
       'YR1987', 'YR1988', 'YR1989', 'YR1990', 'YR1991', 'YR1992', 'YR1993',
       'YR1994', 'YR1995', 'YR1996', 'YR1997', 'YR1998', 'YR1999', 'YR2000',
       'YR2001', 'YR2002', 'YR2003', 'YR2004', 'YR2005', 'YR2006', 'YR2007',
       'YR2008', 'YR2009', 'YR2010', 'YR2011', 'YR2012', 'YR2013', 'YR2014',
       'YR2015', 'YR2016', 'YR2017', 'YR2018', 'YR2019', 'YR2020', 'YR2021',
       'YR2022', 'YR2023'],
      dtype='object')