In [31]:
import pandas as pd

In [32]:
steel = pd.read_excel('steel_data.xlsx')

In [33]:
steel.columns = ['date', 'Mar 2024', 'Apr 2024', 'May 2024', 'Jun 2024', 'Jul 2024', 'Aug 2024', 'Sep 2024', 'Oct 2024', 'Nov 2024', 'Dec 2024', 'Jan 2025', 'Feb 2025', 'Mar 2025', 'Apr 2025']

steel

,date,Mar 2024,Apr 2024,May 2024,Jun 2024,Jul 2024,Aug 2024,Sep 2024,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025
0,Canada,542089.318,532836.947,521110.386,505935.639,491711.726,453352.330,450202.175,494588.204,430989.385,472483.317,588903.940,437031.710,3.590043e+05,8815.575516
1,Brazil,355280.141,349829.951,410963.586,281672.457,375106.506,413005.526,299566.682,330393.004,277469.436,103379.753,531053.236,404113.928,4.046992e+05,51741.536086
2,Mexico,260317.632,383951.915,281300.018,190710.828,153479.247,146186.240,242348.857,327116.627,255566.607,296899.236,428739.970,253418.194,3.172593e+05,3970.042833
3,South Korea,316610.036,189043.048,334554.981,190203.743,185249.896,243115.009,245511.668,146874.793,162020.729,189660.277,295922.326,175679.926,2.229677e+05,48680.943708
4,Vietnam,79449.318,131702.686,134267.681,116014.998,64311.832,139834.637,122852.787,91803.815,108741.291,99237.186,53926.563,35305.737,6.445433e+04,12089.346750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Macao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e-03,NaN
79,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000e-04,NaN
80,Total,2284792.340,2544046.640,2589830.017,1955800.295,2199155.785,2155665.045,1941384.846,2175911.213,1878447.030,1939349.000,2790285.337,2035438.620,2.098798e+06,301236.645838
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Applied filters:\nDate is on or after March 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# sort steel by the ' 2025-03-01 00:00:00' column
steel.sort_values(by='Mar 2025', ascending=False, inplace=True)

steel

,date,Mar 2024,Apr 2024,May 2024,Jun 2024,Jul 2024,Aug 2024,Sep 2024,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025
80,Total,2284792.340,2544046.640,2589830.017,1955800.295,2199155.785,2155665.045,1941384.846,2175911.213,1878447.030,1939349.000,2790285.337,2035438.620,2.098798e+06,301236.645838
1,Brazil,355280.141,349829.951,410963.586,281672.457,375106.506,413005.526,299566.682,330393.004,277469.436,103379.753,531053.236,404113.928,4.046992e+05,51741.536086
0,Canada,542089.318,532836.947,521110.386,505935.639,491711.726,453352.330,450202.175,494588.204,430989.385,472483.317,588903.940,437031.710,3.590043e+05,8815.575516
2,Mexico,260317.632,383951.915,281300.018,190710.828,153479.247,146186.240,242348.857,327116.627,255566.607,296899.236,428739.970,253418.194,3.172593e+05,3970.042833
3,South Korea,316610.036,189043.048,334554.981,190203.743,185249.896,243115.009,245511.668,146874.793,162020.729,189660.277,295922.326,175679.926,2.229677e+05,48680.943708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Latvia,NaN,0.256,0.685,2.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.940,NaN,NaN,NaN,NaN,NaN
76,Kuwait,NaN,NaN,NaN,2.339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Applied filters:\nDate is on or after March 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# delete the row where 'date' = "Total"
steel.drop(steel[steel['date'] == 'Total'].index, inplace=True)
steel

,date,Mar 2024,Apr 2024,May 2024,Jun 2024,Jul 2024,Aug 2024,Sep 2024,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025
1,Brazil,355280.141,349829.951,410963.586,281672.457,375106.506,413005.526,299566.682,330393.004,277469.436,103379.753,531053.236,404113.928,404699.184915,51741.536086
0,Canada,542089.318,532836.947,521110.386,505935.639,491711.726,453352.330,450202.175,494588.204,430989.385,472483.317,588903.940,437031.710,359004.304876,8815.575516
2,Mexico,260317.632,383951.915,281300.018,190710.828,153479.247,146186.240,242348.857,327116.627,255566.607,296899.236,428739.970,253418.194,317259.294914,3970.042833
3,South Korea,316610.036,189043.048,334554.981,190203.743,185249.896,243115.009,245511.668,146874.793,162020.729,189660.277,295922.326,175679.926,222967.666950,48680.943708
7,Taiwan,80316.276,75272.495,106185.707,76084.201,79216.612,77037.650,86036.735,43098.825,78407.441,83387.449,77159.493,73531.877,111577.082622,23901.577038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Latvia,NaN,0.256,0.685,2.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.940,NaN,NaN,NaN,NaN,NaN
76,Kuwait,NaN,NaN,NaN,2.339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Applied filters:\nDate is on or after March 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# rename to 'country'
steel = steel.rename(columns={'date': 'country'})

# restrict to top 10 countries
steel = steel.head(7)

steel

,country,Mar 2024,Apr 2024,May 2024,Jun 2024,Jul 2024,Aug 2024,Sep 2024,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025
1,Brazil,355280.141,349829.951,410963.586,281672.457,375106.506,413005.526,299566.682,330393.004,277469.436,103379.753,531053.236,404113.928,404699.184915,51741.536086
0,Canada,542089.318,532836.947,521110.386,505935.639,491711.726,453352.330,450202.175,494588.204,430989.385,472483.317,588903.940,437031.710,359004.304876,8815.575516
2,Mexico,260317.632,383951.915,281300.018,190710.828,153479.247,146186.240,242348.857,327116.627,255566.607,296899.236,428739.970,253418.194,317259.294914,3970.042833
3,South Korea,316610.036,189043.048,334554.981,190203.743,185249.896,243115.009,245511.668,146874.793,162020.729,189660.277,295922.326,175679.926,222967.666950,48680.943708
7,Taiwan,80316.276,75272.495,106185.707,76084.201,79216.612,77037.650,86036.735,43098.825,78407.441,83387.449,77159.493,73531.877,111577.082622,23901.577038
6,Germany,49086.449,88777.515,80412.613,59188.740,100076.888,114642.640,72594.499,127121.614,66887.829,87676.311,87897.921,80428.015,97227.069790,10674.023392
5,Japan,98659.687,89267.309,98155.374,76256.484,132561.771,69899.408,70792.680,125184.409,69985.788,68632.031,88269.667,103801.264,81734.843698,13456.666620

In [37]:
steel = steel.copy().melt(id_vars=['country'], var_name='date', value_name='value')

steel

        country      date          value
0        Brazil  Mar 2024  355280.141000
1        Canada  Mar 2024  542089.318000
2        Mexico  Mar 2024  260317.632000
3   South Korea  Mar 2024  316610.036000
4        Taiwan  Mar 2024   80316.276000
..          ...       ...            ...
93       Mexico  Apr 2025    3970.042833
94  South Korea  Apr 2025   48680.943708
95       Taiwan  Apr 2025   23901.577038
96      Germany  Apr 2025   10674.023392
97        Japan  Apr 2025   13456.666620

[98 rows x 3 columns]

In [38]:
steel['date'] = pd.to_datetime(steel['date'], format='%b %Y')

steel.dtypes

country            object
date       datetime64[ns]
value             float64
dtype: object

In [39]:
steel.to_csv('steel.csv', index=False)