In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('germany.csv')

df.columns = ['date', 'value']

# change date column from yyyy int to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y')

df

         date  value
0  1991-01-01   0.37
1  1992-01-01   0.43
2  1993-01-01   0.50
3  1994-01-01   0.54
4  1995-01-01   0.56
5  1996-01-01   0.57
6  1997-01-01   0.57
7  1998-01-01   0.56
8  1999-01-01   0.56
9  2000-01-01   0.55
10 2001-01-01   0.55
11 2002-01-01   0.56
12 2003-01-01   0.57
13 2004-01-01   0.57
14 2005-01-01   0.57
15 2006-01-01   0.57
16 2007-01-01   0.57
17 2008-01-01   0.58
18 2009-01-01   0.59
19 2010-01-01   0.59
20 2011-01-01   0.59
21 2012-01-01   0.60
22 2013-01-01   0.60
23 2014-01-01   0.61
24 2015-01-01   0.61
25 2016-01-01   0.62
26 2017-01-01   0.62
27 2018-01-01   0.62
28 2019-01-01   0.64
29 2020-01-01   0.65
30 2021-01-01   0.64
31 2022-01-01   0.65
32 2023-01-01   0.66

In [6]:
df.to_csv('germany.csv', index=False)

In [ ]:
import altair as alt
import altair_viewer

In [ ]:
chart = alt.Chart(df).mark_line(point=True).encode(
    x=alt.X('year:T', title='Year'),
    y=alt.Y('value:Q', title='Value', scale=alt.Scale(domain=[0.3, 0.7])),
    tooltip=['year:T', 'value:Q']
).properties(
    title='Value Over Time',
    width=600,
    height=400
).interactive()

chart

alt.Chart(...)