In [128]:
import pandas as pd

In [129]:
# Define index tickers
indexes = {
    "US": "^IXIC",
    "Germany": "^GDAXI",
    "China": "000001.SS",
    "UK": "^FTSE",
    "Japan": "^N225"
}

In [130]:
data = yf.download(list(indexes.values()), period="1y", interval="1d")

closes = data['Close']
closes.columns = list(indexes.keys())

closes

[*********************100%***********************]  5 of 5 completed

                     US      Germany         China            UK         Japan
Date
2024-04-03  3069.295898          NaN           NaN           NaN           NaN
2024-04-04          NaN  7975.899902  18403.130859  16049.080078  39773.140625
2024-04-05          NaN  7911.200195  18175.039062  16248.519531  38992.078125
2024-04-08  3047.052979  7943.500000  18318.970703  16253.959961  39347.039062
2024-04-09  3048.537109  7934.799805  18076.689453  16306.639648  39773.128906
...                 ...          ...           ...           ...           ...
2025-03-31  3335.746094  8582.799805  22163.490234  17299.289062  35617.558594
2025-04-01  3348.435059  8634.799805  22539.980469  17449.890625  35624.480469
2025-04-02  3350.126953  8608.500000  22390.839844  17601.050781  35725.871094
2025-04-03  3342.008057  8474.700195  21717.390625  16550.609375  34735.929688
2025-04-04          NaN  8218.879883  21047.750000           NaN  33780.578125

[262 rows x 5 columns]

In [131]:
# closes = closes.reset_index()

In [132]:
closes = closes[closes.index >= '2025-01-21']

closes

                     US      Germany         China            UK         Japan
Date
2025-01-21  3242.623047  8548.299805  21042.000000  19756.779297  39027.980469
2025-01-22  3213.624023  8545.099609  21254.269531  20009.339844  39646.250000
2025-01-23  3230.164062  8565.200195  21411.529297  20053.679688  39958.871094
2025-01-24  3252.625977  8502.400391  21394.929688  19954.300781  39931.980469
2025-01-27  3250.601074  8503.700195  21282.179688  19341.830078  39565.800781
2025-01-28          NaN  8533.900391  21430.580078  19733.589844  39016.871094
2025-01-29          NaN  8557.799805  21637.529297  19632.320312  39414.781250
2025-01-30          NaN  8646.900391  21727.199219  19681.750000  39513.968750
2025-01-31          NaN  8674.000000  21732.050781  19627.439453  39572.488281
2025-02-03          NaN  8583.599609  21428.240234  19391.960938  38520.089844
2025-02-04          NaN  8570.799805  21505.699219  19654.019531  38798.371094
2025-02-05  3229.488037  8623.299805  21585.929688  19692.330078  38831.480469
2025-02-06  3270.658936  8727.299805  21902.419922  19791.990234  39066.531250
2025-02-07  3303.666992  8700.500000  21787.000000  19523.400391  38787.019531
2025-02-10  3322.169922  8767.799805  21911.740234  19714.269531  38801.171875
2025-02-11  3318.056885  8777.400391  22037.830078  19643.859375           NaN
2025-02-12  3346.385010  8807.400391  22148.029297  19649.949219  38963.699219
2025-02-13  3332.482910  8764.700195  22612.019531  19945.640625  39461.468750
2025-02-14  3346.724121  8732.500000  22513.419922  20026.769531  39149.429688
2025-02-17  3355.830078  8768.000000  22798.089844           NaN  39174.250000
2025-02-18  3324.490967  8766.700195  22844.500000  20041.259766  39270.398438
2025-02-19  3351.539062  8712.500000  22433.630859  20056.250000  39164.609375
2025-02-20  3350.782959  8663.000000  22314.650391  19962.359375  38678.039062
2025-02-21  3379.113037  8659.400391  22287.560547  19524.009766  38776.941406
2025-02-24  3373.028076  8659.000000  22425.929688  19286.929688           NaN
2025-02-25  3346.040039  8668.700195  22410.269531  19026.390625  38237.789062
2025-02-26  3380.214111  8731.500000  22794.109375  19075.259766  38142.371094
2025-02-27  3388.062012  8756.200195  22550.890625  18544.419922  38256.171875
2025-02-28  3320.896973  8809.700195  22551.429688  18847.279297  37155.500000
2025-03-03  3316.925049  8871.299805  23147.019531  18350.189453  37785.468750
2025-03-04  3324.209961  8759.000000  22326.810547  18285.160156  37331.179688
2025-03-05  3341.965088  8755.799805  23081.029297  18552.730469  37418.238281
2025-03-06  3381.097900  8682.799805  23419.480469  18069.259766  37704.929688
2025-03-07  3372.545898  8679.900391  23008.939453  18196.220703  36887.171875
2025-03-10  3366.163086  8600.200195  22620.949219  17468.320312  37028.269531
2025-03-11  3379.827881  8496.000000  22328.769531  17436.099609  36793.109375
2025-03-12  3371.924072  8541.000000  22676.410156  17648.449219  36819.089844
2025-03-13  3358.729004  8542.599609  22567.140625  17303.009766  36790.031250
2025-03-14  3419.562012  8632.299805  22986.820312  17754.089844  37053.101562
2025-03-17  3426.128906  8680.299805  23154.570312  17808.660156  37396.519531
2025-03-18  3429.759033  8705.200195  23380.699219  17504.119141  37845.421875
2025-03-19  3426.428955  8706.700195  23288.060547  17750.789062  37751.878906
2025-03-20  3408.947998  8702.000000  22999.150391  17691.630859           NaN
2025-03-21  3364.831055  8646.799805  22891.679688  17784.050781  37677.058594
2025-03-24  3370.028076  8638.000000  22852.660156  18188.589844  37608.488281
2025-03-25  3369.976074  8663.799805  23109.789062  18271.859375  37780.539062
2025-03-26  3368.697021  8689.599609  22839.029297  17899.019531  38027.289062
2025-03-27  3373.749023  8666.099609  22678.740234  17804.029297  37799.968750
2025-03-28  3351.306885  8658.900391  22461.519531  17322.990234  37120.328125
2025-03-31  3335.746094  8582.799805  22163.490234  17299.289062  35617.558594
2025-04-01  3348.435059  8634.799805  22539.980469  17449.890625  35624.480469
2025-04-02  3350.126953  8608.500000  22390.839844  17601.050781  35725.871094
2025-04-03  3342.008057  8474.700195  21717.390625  16550.609375  34735.929688
2025-04-04          NaN  8218.879883  21047.750000           NaN  33780.578125

In [133]:
normalized = pd.DataFrame()
for column in closes.columns:
    first_value = closes[column].iloc[0]
    normalized[column] = (closes[column] / first_value) * 100

normalized

                    US     Germany       China          UK       Japan
Date
2025-01-21  100.000000  100.000000  100.000000  100.000000  100.000000
2025-01-22   99.105692   99.962563  101.008790  101.278349  101.584170
2025-01-23   99.615775  100.197705  101.756151  101.502777  102.385188
2025-01-24  100.308483   99.463058  101.677263  100.999766  102.316287
2025-01-27  100.246036   99.478263  101.141430   97.899712  101.378038
2025-01-28         NaN   99.831552  101.846688   99.882625   99.971535
2025-01-29         NaN  100.111133  102.830193   99.370044  100.991086
2025-01-30         NaN  101.153453  103.256341   99.620235  101.245230
2025-01-31         NaN  101.470470  103.279397   99.345339  101.395173
2025-02-03         NaN  100.412945  101.835568   98.153452   98.698650
2025-02-04         NaN  100.263210  102.203684   99.479876   99.411680
2025-02-05   99.594926  100.877367  102.584971   99.673787   99.496515
2025-02-06  100.864605  102.093984  104.089060  100.178222  100.098777
2025-02-07  101.882548  101.780473  103.540538   98.818740   99.382594
2025-02-10  102.453164  102.567762  104.133353   99.784835   99.418856
2025-02-11  102.326322  102.680072  104.732583   99.428450         NaN
2025-02-12  103.199939  103.031019  105.256294   99.459274   99.835294
2025-02-13  102.771209  102.531502  107.461361  100.955932  101.110712
2025-02-14  103.210397  102.154817  106.992776  101.366570  100.311185
2025-02-17  103.491218  102.570104  108.345641         NaN  100.374781
2025-02-18  102.524744  102.554899  108.566201  101.439913  100.621139
2025-02-19  103.358886  101.920852  106.613586  101.515787  100.350079
2025-02-20  103.335568  101.341790  106.048144  101.040555   99.103358
2025-02-21  104.209246  101.299681  105.919402   98.821825   99.356772
2025-02-24  104.021591  101.294997  106.576987   97.621831         NaN
2025-02-25  103.189300  101.408472  106.502564   96.303098   97.975321
2025-02-26  104.243203  102.143119  108.326725   96.550452   97.730835
2025-02-27  104.485226  102.432067  107.170852   93.863578   98.022422
2025-02-28  102.413908  103.057923  107.173414   95.396517   95.202210
2025-03-03  102.291417  103.778529  110.003895   92.880470   96.816357
2025-03-04  102.516078  102.464820  106.105934   92.551321   95.652348
2025-03-05  103.063632  102.427383  109.690283   93.905642   95.875415
2025-03-06  104.270458  101.573412  111.298738   91.458529   96.609994
2025-03-07  104.006721  101.539494  109.347683   92.101149   94.514683
2025-03-10  103.809880  100.607143  107.503798   88.416842   94.876212
2025-03-11  104.231292   99.388185  106.115243   88.253755   94.273670
2025-03-12  103.987544   99.914605  107.767371   89.328574   94.340238
2025-03-13  103.580618   99.933318  107.248078   87.580114   94.265783
2025-03-14  105.456662  100.982652  109.242564   89.863280   94.939838
2025-03-17  105.659180  101.544167  110.039779   90.139490   95.819766
2025-03-18  105.771130  101.835457  111.114434   88.598040   96.969972
2025-03-19  105.668433  101.853005  110.674178   89.846573   96.730291
2025-03-20  105.129334  101.798021  109.301161   89.547140         NaN
2025-03-21  103.768801  101.152276  108.790418   90.014929   96.538581
2025-03-24  103.929073  101.049334  108.604981   92.062525   96.362886
2025-03-25  103.927469  101.351146  109.826961   92.483998   96.803725
2025-03-26  103.888024  101.652958  108.540202   90.596849   97.435964
2025-03-27  104.043824  101.378050  107.778444   90.116051   96.853509
2025-03-28  103.351726  101.293831  106.746125   87.681246   95.112091
2025-03-31  102.871843  100.403589  105.329770   87.561281   91.261598
2025-04-01  103.263161  101.011897  107.119002   88.323559   91.279334
2025-04-02  103.315338  100.704236  106.410226   89.088664   91.539123
2025-04-03  103.064957   99.139015  103.209726   83.771799   89.002632
2025-04-04         NaN   96.146369  100.027326         NaN   86.554768

In [142]:
normalized.rename(columns={
    "US":"China",
    "Germany":"UK",
    "China":"Germany",
    "UK":"US"
}, inplace=True)

normalized

         Date       China          UK     Germany          US       Japan
0  2025-01-21  100.000000  100.000000  100.000000  100.000000  100.000000
1  2025-01-22   99.105692   99.962563  101.008790  101.278349  101.584170
2  2025-01-23   99.615775  100.197705  101.756151  101.502777  102.385188
3  2025-01-24  100.308483   99.463058  101.677263  100.999766  102.316287
4  2025-01-27  100.246036   99.478263  101.141430   97.899712  101.378038
5  2025-01-28         NaN   99.831552  101.846688   99.882625   99.971535
6  2025-01-29         NaN  100.111133  102.830193   99.370044  100.991086
7  2025-01-30         NaN  101.153453  103.256341   99.620235  101.245230
8  2025-01-31         NaN  101.470470  103.279397   99.345339  101.395173
9  2025-02-03         NaN  100.412945  101.835568   98.153452   98.698650
10 2025-02-04         NaN  100.263210  102.203684   99.479876   99.411680
11 2025-02-05   99.594926  100.877367  102.584971   99.673787   99.496515
12 2025-02-06  100.864605  102.093984  104.089060  100.178222  100.098777
13 2025-02-07  101.882548  101.780473  103.540538   98.818740   99.382594
14 2025-02-10  102.453164  102.567762  104.133353   99.784835   99.418856
15 2025-02-11  102.326322  102.680072  104.732583   99.428450         NaN
16 2025-02-12  103.199939  103.031019  105.256294   99.459274   99.835294
17 2025-02-13  102.771209  102.531502  107.461361  100.955932  101.110712
18 2025-02-14  103.210397  102.154817  106.992776  101.366570  100.311185
19 2025-02-17  103.491218  102.570104  108.345641         NaN  100.374781
20 2025-02-18  102.524744  102.554899  108.566201  101.439913  100.621139
21 2025-02-19  103.358886  101.920852  106.613586  101.515787  100.350079
22 2025-02-20  103.335568  101.341790  106.048144  101.040555   99.103358
23 2025-02-21  104.209246  101.299681  105.919402   98.821825   99.356772
24 2025-02-24  104.021591  101.294997  106.576987   97.621831         NaN
25 2025-02-25  103.189300  101.408472  106.502564   96.303098   97.975321
26 2025-02-26  104.243203  102.143119  108.326725   96.550452   97.730835
27 2025-02-27  104.485226  102.432067  107.170852   93.863578   98.022422
28 2025-02-28  102.413908  103.057923  107.173414   95.396517   95.202210
29 2025-03-03  102.291417  103.778529  110.003895   92.880470   96.816357
30 2025-03-04  102.516078  102.464820  106.105934   92.551321   95.652348
31 2025-03-05  103.063632  102.427383  109.690283   93.905642   95.875415
32 2025-03-06  104.270458  101.573412  111.298738   91.458529   96.609994
33 2025-03-07  104.006721  101.539494  109.347683   92.101149   94.514683
34 2025-03-10  103.809880  100.607143  107.503798   88.416842   94.876212
35 2025-03-11  104.231292   99.388185  106.115243   88.253755   94.273670
36 2025-03-12  103.987544   99.914605  107.767371   89.328574   94.340238
37 2025-03-13  103.580618   99.933318  107.248078   87.580114   94.265783
38 2025-03-14  105.456662  100.982652  109.242564   89.863280   94.939838
39 2025-03-17  105.659180  101.544167  110.039779   90.139490   95.819766
40 2025-03-18  105.771130  101.835457  111.114434   88.598040   96.969972
41 2025-03-19  105.668433  101.853005  110.674178   89.846573   96.730291
42 2025-03-20  105.129334  101.798021  109.301161   89.547140         NaN
43 2025-03-21  103.768801  101.152276  108.790418   90.014929   96.538581
44 2025-03-24  103.929073  101.049334  108.604981   92.062525   96.362886
45 2025-03-25  103.927469  101.351146  109.826961   92.483998   96.803725
46 2025-03-26  103.888024  101.652958  108.540202   90.596849   97.435964
47 2025-03-27  104.043824  101.378050  107.778444   90.116051   96.853509
48 2025-03-28  103.351726  101.293831  106.746125   87.681246   95.112091
49 2025-03-31  102.871843  100.403589  105.329770   87.561281   91.261598
50 2025-04-01  103.263161  101.011897  107.119002   88.323559   91.279334
51 2025-04-02  103.315338  100.704236  106.410226   89.088664   91.539123
52 2025-04-03  103.064957   99.139015  103.209726   83.771799   89.002632
53 2025-04-04         NaN   96.146369  100.027326         NaN   86.554768

In [ ]:
normalized = normalized.reset_index()

In [143]:
# melt
closes_long = normalized.melt(id_vars=['Date'], var_name='Index', value_name='Value')

closes_long

          Date  Index       Value
0   2025-01-21  China  100.000000
1   2025-01-22  China   99.105692
2   2025-01-23  China   99.615775
3   2025-01-24  China  100.308483
4   2025-01-27  China  100.246036
..         ...    ...         ...
265 2025-03-31  Japan   91.261598
266 2025-04-01  Japan   91.279334
267 2025-04-02  Japan   91.539123
268 2025-04-03  Japan   89.002632
269 2025-04-04  Japan   86.554768

[270 rows x 3 columns]

In [144]:
closes_long.to_csv('closes.csv', index=False)

In [87]:
closes_long['Index'].unique()

array(['US', 'Germany', 'China', 'UK', 'Canada', 'Japan'], dtype=object)

In [88]:
closes_long.dtypes

Date     datetime64[ns]
Index            object
Close           float64
dtype: object

In [89]:
closes_long[closes_long['Date'] == '2025-01-20']

           Date    Index         Close
207  2025-01-20       US   3244.377930
469  2025-01-20  Germany   8520.500000
731  2025-01-20    China  20990.310547
993  2025-01-20       UK           NaN
1255 2025-01-20   Canada  25130.800781
1517 2025-01-20    Japan  38902.500000

In [90]:
import matplotlib.pyplot as plt

# Create a copy of closes_long for indexing
indexed_closes = closes_long.copy()

# Group by Index (country) and find the value on January 21, 2025 for each country
base_date = '2025-01-20'
base_values = indexed_closes[indexed_closes['Date'] == base_date].set_index('Index')['Close']

# Add a column for indexed values (Jan 21, 2025 = 100)
def index_values(group):
    country = group['Index'].iloc[0]
    if country in base_values:
        base_value = base_values[country]
        if not pd.isna(base_value) and base_value != 0:
            group['Indexed_Close'] = (group['Close'] / base_value) * 100
    return group

# Apply the indexing function to each country group
indexed_closes = indexed_closes.groupby('Index', group_keys=False).apply(index_values)

# show indexed values
indexed_closes

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gq/T/ipykernel_67852/2210077942.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  indexed_closes = indexed_closes.groupby('Index', group_keys=False).apply(index_values)

           Date  Index         Close  Indexed_Close
0    2024-04-03     US   3069.295898      94.603525
1    2024-04-04     US           NaN            NaN
2    2024-04-05     US           NaN            NaN
3    2024-04-08     US   3047.052979      93.917942
4    2024-04-09     US   3048.537109      93.963687
...         ...    ...           ...            ...
1567 2025-03-31  Japan  35617.558594      91.555963
1568 2025-04-01  Japan  35624.480469      91.573756
1569 2025-04-02  Japan  35725.871094      91.834384
1570 2025-04-03  Japan  34735.929688      89.289711
1571 2025-04-04  Japan  33780.578125      86.833952

[1572 rows x 4 columns]

In [91]:
indexed_closes=indexed_closes[indexed_closes['Date'] >= '2025-01-21']

indexed_closes

           Date  Index         Close  Indexed_Close
208  2025-01-21     US   3242.623047      99.945910
209  2025-01-22     US   3213.624023      99.052086
210  2025-01-23     US   3230.164062      99.561892
211  2025-01-24     US   3252.625977     100.254226
212  2025-01-27     US   3250.601074     100.191813
...         ...    ...           ...            ...
1567 2025-03-31  Japan  35617.558594      91.555963
1568 2025-04-01  Japan  35624.480469      91.573756
1569 2025-04-02  Japan  35725.871094      91.834384
1570 2025-04-03  Japan  34735.929688      89.289711
1571 2025-04-04  Japan  33780.578125      86.833952

[324 rows x 4 columns]

In [92]:
indexed_closes.to_csv("closes.csv", index=False)