In [10]:
import pandas as pd
import numpy as np
import json 
import time 
import requests
import pycountry
import csv

In [27]:
pip install pyNUT

Collecting pyNUT
  Downloading pynut-1.11.2-py3-none-any.whl (76 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.8/76.8 kB 5.9 MB/s eta 0:00:00
Collecting openpyxl==3.0.5
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.7/242.7 kB 38.3 MB/s eta 0:00:00
Collecting pandas==1.1.3
  Downloading pandas-1.1.3.tar.gz (5.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 90.0 MB/s eta 0:00:00ta 0:00:01
  Installing build dependencies ... error
  error: subprocess-exited-with-error

  × pip subprocess to install build dependencies did not run successfully.
  │ exit code: 1
  ╰─> [357 lines of output]
      Ignoring numpy: markers 'python_version == "3.6" and platform_system != "AIX"' don't match your environment
      Ignoring numpy: markers 'python_version == "3.7" and platform_system != "AIX"' don't match your environment
      Ignoring numpy: markers 'python_version == "3.6" and platform_system == "AIX"' don't match your environment
      Ignoring numpy: markers 'python_version == "3.7" and platform_system == "AIX"' don't match your environment
      Ignoring numpy: markers 'python_version >= "3.8" and platform_system == "AIX"' don't match your environment
      Collecting setuptools
        Downloading setuptools-74.1.2-py3-none-any.whl (1.3 MB)
           ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 51.6 MB/s eta 0:00:00
      Collecting wheel
        Using cached wheel-0.44.0-py3-none-any.whl (67 kB)
      Collecting Cython<3,>=0.29.21
        Downloading Cython-0.29.37-py2.py3-none-any.whl (989 kB)
           ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 989.5/989.5 kB 64.3 MB/s eta 0:00:00
      Collecting numpy==1.17.3
        Downloading numpy-1.17.3.zip (6.4 MB)
           ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 53.7 MB/s eta 0:00:00
        Preparing metadata (setup.py): started
        Preparing metadata (setup.py): finished with status 'done'
      Using legacy 'setup.py install' for numpy, since package 'wheel' is not installed.
      Installing collected packages: wheel, setuptools, numpy, Cython
        Running setup.py install for numpy: started
        Running setup.py install for numpy: finished with status 'error'
        error: subprocess-exited-with-error

        × Running setup.py install for numpy did not run successfully.
        │ exit code: 1
        ╰─> [262 lines of output]
            Running from numpy source directory.

            Note: if you need reliable uninstall behavior, then install
            with pip instead of using `setup.py install`:

              - `pip install .`       (from a git repo or downloaded source
                                       release)
              - `pip install numpy`   (last NumPy release on PyPi)


            blas_opt_info:
            blas_mkl_info:
            customize UnixCCompiler
              libraries mkl_rt not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            blis_info:
            customize UnixCCompiler
              libraries blis not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            openblas_info:
            customize UnixCCompiler
            customize UnixCCompiler
              libraries openblas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            atlas_3_10_blas_threads_info:
            Setting PTATLAS=ATLAS
            customize UnixCCompiler
              libraries tatlas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            atlas_3_10_blas_info:
            customize UnixCCompiler
              libraries satlas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            atlas_blas_threads_info:
            Setting PTATLAS=ATLAS
            customize UnixCCompiler
              libraries ptf77blas,ptcblas,atlas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            atlas_blas_info:
            customize UnixCCompiler
              libraries f77blas,cblas,atlas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            accelerate_info:
            customize UnixCCompiler
              libraries accelerate not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
            Library accelerate was not found. Ignoring
            customize UnixCCompiler
              libraries veclib not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
            Library veclib was not found. Ignoring
              FOUND:
                extra_compile_args = ['-faltivec', '-I/System/Library/Frameworks/vecLib.framework/Headers']
                extra_link_args = ['-Wl,-framework', '-Wl,Accelerate']
                define_macros = [('NO_ATLAS_INFO', 3), ('HAVE_CBLAS', None)]

              FOUND:
                extra_compile_args = ['-faltivec', '-I/System/Library/Frameworks/vecLib.framework/Headers']
                extra_link_args = ['-Wl,-framework', '-Wl,Accelerate']
                define_macros = [('NO_ATLAS_INFO', 3), ('HAVE_CBLAS', None)]

            /bin/sh: svnversion: command not found
            non-existing path in 'numpy/distutils': 'site.cfg'
            lapack_opt_info:
            lapack_mkl_info:
            customize UnixCCompiler
              libraries mkl_rt not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            openblas_lapack_info:
            customize UnixCCompiler
            customize UnixCCompiler
              libraries openblas not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            openblas_clapack_info:
            customize UnixCCompiler
            customize UnixCCompiler
              libraries openblas,lapack not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            flame_info:
            customize UnixCCompiler
              libraries flame not found in ['/Library/Frameworks/Python.framework/Versions/3.10/lib', '/usr/local/lib', '/usr/lib']
              NOT AVAILABLE

            atlas_3_10_threads_info:
            Setting PTATLAS=ATLAS
            customize UnixCCompiler
              libraries lapack_atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries tatlas,tatlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries tatlas,tatlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/lib
            customize UnixCCompiler
              libraries tatlas,tatlas not found in /usr/lib
            <class 'numpy.distutils.system_info.atlas_3_10_threads_info'>
              NOT AVAILABLE

            atlas_3_10_info:
            customize UnixCCompiler
              libraries lapack_atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries satlas,satlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries satlas,satlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/lib
            customize UnixCCompiler
              libraries satlas,satlas not found in /usr/lib
            <class 'numpy.distutils.system_info.atlas_3_10_info'>
              NOT AVAILABLE

            atlas_threads_info:
            Setting PTATLAS=ATLAS
            customize UnixCCompiler
              libraries lapack_atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries ptf77blas,ptcblas,atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries ptf77blas,ptcblas,atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/lib
            customize UnixCCompiler
              libraries ptf77blas,ptcblas,atlas not found in /usr/lib
            <class 'numpy.distutils.system_info.atlas_threads_info'>
              NOT AVAILABLE

            atlas_info:
            customize UnixCCompiler
              libraries lapack_atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries f77blas,cblas,atlas not found in /Library/Frameworks/Python.framework/Versions/3.10/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries f77blas,cblas,atlas not found in /usr/local/lib
            customize UnixCCompiler
              libraries lapack_atlas not found in /usr/lib
            customize UnixCCompiler
              libraries f77blas,cblas,atlas not found in /usr/lib
            <class 'numpy.distutils.system_info.atlas_info'>
              NOT AVAILABLE

              FOUND:
                extra_compile_args = ['-faltivec', '-I/System/Library/Frameworks/vecLib.framework/Headers']
                extra_link_args = ['-Wl,-framework', '-Wl,Accelerate']
                define_macros = [('NO_ATLAS_INFO', 3), ('HAVE_CBLAS', None)]

            /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/dist.py:257: UserWarning: Unknown distribution option: 'define_macros'
              warnings.warn(msg)
            running install
            /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
              warnings.warn(
            running build
            running config_cc
            unifing config_cc, config, build_clib, build_ext, build commands --compiler options
            running config_fc
            unifing config_fc, config, build_clib, build_ext, build commands --fcompiler options
            running build_src
            build_src
            building py_modules sources
            creating build
            creating build/src.macosx-10.9-universal2-3.1
            creating build/src.macosx-10.9-universal2-3.1/numpy
            creating build/src.macosx-10.9-universal2-3.1/numpy/distutils
            building library "npymath" sources
            get_default_fcompiler: matching types: '['gnu95', 'nag', 'absoft', 'ibm', 'intel', 'gnu', 'g95', 'pg']'
            customize Gnu95FCompiler
            Could not locate executable gfortran
            Could not locate executable f95
            customize NAGFCompiler
            customize AbsoftFCompiler
            Could not locate executable f90
            Could not locate executable f77
            customize IBMFCompiler
            Could not locate executable xlf90
            Could not locate executable xlf
            customize IntelFCompiler
            Could not locate executable ifort
            Could not locate executable ifc
            customize GnuFCompiler
            Could not locate executable g77
            customize G95FCompiler
            Could not locate executable g95
            customize PGroupFCompiler
            Could not locate executable pgfortran
            don't know how to compile Fortran code on platform 'posix'
            C compiler: clang -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g

            compile options: '-Inumpy/core/src/common -Inumpy/core/src -Inumpy/core -Inumpy/core/src/npymath -Inumpy/core/src/multiarray -Inumpy/core/src/umath -Inumpy/core/src/npysort -I/Library/Frameworks/Python.framework/Versions/3.10/include/python3.10 -c'
            clang: _configtest.c
            xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
            failure.
            removing: _configtest.c _configtest.o
            Traceback (most recent call last):
              File "<string>", line 2, in <module>
              File "<pip-setuptools-caller>", line 34, in <module>
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/setup.py", line 443, in <module>
                setup_package()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/setup.py", line 435, in setup_package
                setup(**metadata)
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/core.py", line 171, in setup
                return old_setup(**new_attr)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/__init__.py", line 87, in setup
                return distutils.core.setup(**attrs)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/core.py", line 177, in setup
                return run_commands(dist)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/core.py", line 193, in run_commands
                dist.run_commands()
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/dist.py", line 968, in run_commands
                self.run_command(cmd)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/dist.py", line 1217, in run_command
                super().run_command(command)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/dist.py", line 987, in run_command
                cmd_obj.run()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/install.py", line 62, in run
                r = self.setuptools_run()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/install.py", line 36, in setuptools_run
                return distutils_install.run(self)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/command/install.py", line 695, in run
                self.run_command('build')
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/cmd.py", line 317, in run_command
                self.distribution.run_command(command)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/dist.py", line 1217, in run_command
                super().run_command(command)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/dist.py", line 987, in run_command
                cmd_obj.run()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/build.py", line 47, in run
                old_build.run(self)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/command/build.py", line 131, in run
                self.run_command(cmd_name)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/cmd.py", line 317, in run_command
                self.distribution.run_command(command)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/dist.py", line 1217, in run_command
                super().run_command(command)
              File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/setuptools/_distutils/dist.py", line 987, in run_command
                cmd_obj.run()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/build_src.py", line 142, in run
                self.build_sources()
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/build_src.py", line 153, in build_sources
                self.build_library_sources(*libname_info)
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/build_src.py", line 286, in build_library_sources
                sources = self.generate_sources(sources, (lib_name, build_info))
              File "/private/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/pip-install-a47b1vy9/numpy_c8a4965ea2fe4436931ba0fa9161ed30/numpy/distutils/command/build_src.py", line 369, in generate_sources
                source = func(extension, build_dir)
              File "numpy/core/setup.py", line 669, in get_mathlib_info
                raise RuntimeError("Broken toolchain: cannot link a simple C program")
            RuntimeError: Broken toolchain: cannot link a simple C program
            [end of output]

        note: This error originates from a subprocess, and is likely not a problem with pip.
      error: legacy-install-failure

      × Encountered error while trying to install package.
      ╰─> numpy

      note: This is an issue with the package mentioned above, not pip.
      hint: See above for output from the failure.
      --- Logging error ---
      Traceback (most recent call last):
        File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/logging.py", line 177, in emit
          self.console.print(renderable, overflow="ignore", crop=False, style=style)
        File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/console.py", line 1673, in print
          extend(render(renderable, render_options))
        File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/console.py", line 1305, in render
          for render_output in iter_render:
        File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/logging.py", line 134, in __rich_console__
          for line in lines:

In [13]:


# Step 1: Modify the URL to request CSV format
url = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/tgs00010/1.0?compress=false&format=csvdata"
response = requests.get(url)

# Step 2: Save the response content as a CSV file
csv_file = "map_builder_test.csv"
with open(csv_file, 'wb') as file:
    file.write(response.content)

print(f"Data successfully exported to {csv_file}")

Data successfully exported to map_builder_test.csv

In [14]:
df = pd.read_csv('map_builder_test.csv')
df

,DATAFLOW,LAST UPDATE,freq,isced11,sex,age,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,ED0-2,F,Y_GE15,PC,AT11,2012,NaN,u
1,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,ED0-2,F,Y_GE15,PC,AT11,2013,NaN,u
2,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,ED0-2,F,Y_GE15,PC,AT11,2014,NaN,bu
3,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,ED0-2,F,Y_GE15,PC,AT11,2015,NaN,u
4,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,ED0-2,F,Y_GE15,PC,AT11,2016,NaN,u
...,...,...,...,...,...,...,...,...,...,...,...
61618,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,UNK,T,Y_GE15,PC,UKN0,2015,NaN,u
61619,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,UNK,T,Y_GE15,PC,UKN0,2016,NaN,u
61620,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,UNK,T,Y_GE15,PC,UKN0,2017,NaN,u
61621,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,UNK,T,Y_GE15,PC,UKN0,2018,NaN,u
61622,ESTAT:TGS00010(1.0),13/06/24 23:00:00,A,UNK,T,Y_GE15,PC,UKN0,2019,NaN,u

In [15]:
# Dropping 'DATAFLOW' and 'LAST UPDATE' columns, and renaming 'TIME_PERIOD' to 'date'
df2 = df.drop(['DATAFLOW', 'LAST UPDATE', 'unit', 'OBS_FLAG', 'freq', 'age'], axis=1).rename(columns={'TIME_PERIOD': 'date', 'OBS_VALUE': 'value'})

# Display the modified DataFrame
df2

      isced11 sex   geo  date  value
0       ED0-2   F  AT11  2012    NaN
1       ED0-2   F  AT11  2013    NaN
2       ED0-2   F  AT11  2014    NaN
3       ED0-2   F  AT11  2015    NaN
4       ED0-2   F  AT11  2016    NaN
...       ...  ..   ...   ...    ...
61618     UNK   T  UKN0  2015    NaN
61619     UNK   T  UKN0  2016    NaN
61620     UNK   T  UKN0  2017    NaN
61621     UNK   T  UKN0  2018    NaN
61622     UNK   T  UKN0  2019    NaN

[61623 rows x 5 columns]

In [16]:
# FREQ = annual
# AGE = 15 years or over
# SEX = all
# EDUCATION = "All ISCED 2011 levels"
# Filter the DataFrame where sex is 'T' and isced11 is 'TOTAL'
df3 = df2.loc[(df2['sex'] == 'T') & (df2['isced11'] == 'TOTAL')]

# Display the filtered DataFrame
df3

      isced11 sex   geo  date  value
47172   TOTAL   T  AT11  2012    4.6
47173   TOTAL   T  AT11  2013    4.3
47174   TOTAL   T  AT11  2014    4.8
47175   TOTAL   T  AT11  2015    5.2
47176   TOTAL   T  AT11  2016    5.7
...       ...  ..   ...   ...    ...
50940   TOTAL   T  UKN0  2015    6.1
50941   TOTAL   T  UKN0  2016    5.7
50942   TOTAL   T  UKN0  2017    4.5
50943   TOTAL   T  UKN0  2018    3.6
50944   TOTAL   T  UKN0  2019    2.7

[3773 rows x 5 columns]

In [17]:
df3['date'] = df3['date'].astype(str) + '-01-01' 
df3

/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/ipykernel_84087/2403150198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['date'] = df3['date'].astype(str) + '-01-01'

      isced11 sex   geo        date  value
47172   TOTAL   T  AT11  2012-01-01    4.6
47173   TOTAL   T  AT11  2013-01-01    4.3
47174   TOTAL   T  AT11  2014-01-01    4.8
47175   TOTAL   T  AT11  2015-01-01    5.2
47176   TOTAL   T  AT11  2016-01-01    5.7
...       ...  ..   ...         ...    ...
50940   TOTAL   T  UKN0  2015-01-01    6.1
50941   TOTAL   T  UKN0  2016-01-01    5.7
50942   TOTAL   T  UKN0  2017-01-01    4.5
50943   TOTAL   T  UKN0  2018-01-01    3.6
50944   TOTAL   T  UKN0  2019-01-01    2.7

[3773 rows x 5 columns]

In [19]:

# Function to extract country name from NUTS2 code
def nuts2_to_country(nuts2_code):
    # Check if the code starts with 'UK'
    if nuts2_code.startswith('UK'):
        return 'United Kingdom'
    
    # Extract the country code from the NUTS2 code
    country_code = nuts2_code[:2]  # Extract first two characters
    country = pycountry.countries.get(alpha_2=country_code)
    
    # Return the country name if found, otherwise 'Unknown'
    return country.name if country else 'Unknown'

# Apply the function to the 'geo' column and create a new 'country' column
df3['country'] = df3['geo'].apply(nuts2_to_country)

# Display the modified DataFrame
df3

/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/ipykernel_84087/2982370638.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['country'] = df3['geo'].apply(nuts2_to_country)

      isced11 sex   geo        date  value         country
47172   TOTAL   T  AT11  2012-01-01    4.6         Austria
47173   TOTAL   T  AT11  2013-01-01    4.3         Austria
47174   TOTAL   T  AT11  2014-01-01    4.8         Austria
47175   TOTAL   T  AT11  2015-01-01    5.2         Austria
47176   TOTAL   T  AT11  2016-01-01    5.7         Austria
...       ...  ..   ...         ...    ...             ...
50940   TOTAL   T  UKN0  2015-01-01    6.1  United Kingdom
50941   TOTAL   T  UKN0  2016-01-01    5.7  United Kingdom
50942   TOTAL   T  UKN0  2017-01-01    4.5  United Kingdom
50943   TOTAL   T  UKN0  2018-01-01    3.6  United Kingdom
50944   TOTAL   T  UKN0  2019-01-01    2.7  United Kingdom

[3773 rows x 6 columns]

In [20]:
# checking how well function to add country names worked
unknown_count = df3['country'].value_counts().get('Unknown', 0)

print(f"Count of 'Unknown' entries: {unknown_count}")

Count of 'Unknown' entries: 168

In [21]:
with open('NUTS2_names.json', 'r') as file:
    df10 = json.load(file)
    df10

In [22]:
df20 = pd.DataFrame(list(df10.items()), columns=['geo', 'name'])
df20

      geo                                               name
0    EA20               Euro area – 20 countries (from 2023)
1    BE10  Région de Bruxelles-Capitale/Brussels Hoofdste...
2    BE21                                    Prov. Antwerpen
3    BE22                                 Prov. Limburg (BE)
4    BE23                              Prov. Oost-Vlaanderen
..    ...                                                ...
340  TRB1                   Malatya, Elazığ, Bingöl, Tunceli
341  TRB2                          Van, Muş, Bitlis, Hakkari
342  TRC1                         Gaziantep, Adıyaman, Kilis
343  TRC2                              Şanlıurfa, Diyarbakır
344  TRC3                      Mardin, Batman, Şırnak, Siirt

[345 rows x 2 columns]

In [30]:
df100 = pd.merge(df3, df20, on='geo', how='inner')
df100

,isced11,sex,geo,date,value,country,name
0,TOTAL,T,AT11,2012-01-01,4.6,Austria,Burgenland
1,TOTAL,T,AT11,2013-01-01,4.3,Austria,Burgenland
2,TOTAL,T,AT11,2014-01-01,4.8,Austria,Burgenland
3,TOTAL,T,AT11,2015-01-01,5.2,Austria,Burgenland
4,TOTAL,T,AT11,2016-01-01,5.7,Austria,Burgenland
...,...,...,...,...,...,...,...
3768,TOTAL,T,UKN0,2015-01-01,6.1,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3769,TOTAL,T,UKN0,2016-01-01,5.7,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3770,TOTAL,T,UKN0,2017-01-01,4.5,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3771,TOTAL,T,UKN0,2018-01-01,3.6,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3772,TOTAL,T,UKN0,2019-01-01,2.7,United Kingdom,Northern Ireland (UK) (NUTS 2021)

In [31]:
df200 = df100.drop(['isced11', 'sex'], axis=1).rename(columns={'geo': 'nuts2_code', 'name' : 'nuts2_name'})

# Display the modified DataFrame
df200

,nuts2_code,date,value,country,nuts2_name
0,AT11,2012-01-01,4.6,Austria,Burgenland
1,AT11,2013-01-01,4.3,Austria,Burgenland
2,AT11,2014-01-01,4.8,Austria,Burgenland
3,AT11,2015-01-01,5.2,Austria,Burgenland
4,AT11,2016-01-01,5.7,Austria,Burgenland
...,...,...,...,...,...
3768,UKN0,2015-01-01,6.1,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3769,UKN0,2016-01-01,5.7,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3770,UKN0,2017-01-01,4.5,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3771,UKN0,2018-01-01,3.6,United Kingdom,Northern Ireland (UK) (NUTS 2021)
3772,UKN0,2019-01-01,2.7,United Kingdom,Northern Ireland (UK) (NUTS 2021)