In [14]:
import pandas as pd
import requests

In [39]:
import altair as alt
import json
import pandas as pd
import eco_style

alt.themes.enable('light')

ModuleNotFoundError: No module named 'eco_style'

In [15]:
states = ["AZ", "GA", "MI", "NV", "NC", "PA", "WI"]

# Unemp Data

In [17]:
data = []
base_prefix = ""
base_suffix = "UR"

for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    print(url)
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

unemp_df = pd.DataFrame(data)
unemp_df.sample(20)

https://api.stlouisfed.org/fred/series/observations?series_id=AZUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=GAUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=MIUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=NVUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=NCUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=PAUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json
https://api.stlouisfed.org/fred/series/observations?series_id=WIUR&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json

     realtime_start realtime_end        date  value state
871      2024-10-24   2024-10-24  1999-11-01    3.1    WI
1081     2024-10-24   2024-10-24  2017-05-01    3.2    WI
689      2024-10-24   2024-10-24  1984-09-01    7.1    WI
114      2024-10-24   2024-10-24  1985-07-01  7.200    WI
1164     2024-10-24   2024-10-24  2024-04-01    2.9    WI
738      2024-10-24   2024-10-24  1988-10-01  4.200    WI
1074     2024-10-24   2024-10-24  2016-10-01    3.8    WI
108      2024-10-24   2024-10-24  1985-01-01    7.1    WI
220      2024-10-24   2024-10-24  1994-05-01    4.3    WI
479      2024-10-24   2024-10-24  2015-12-01    4.2    WI
629      2024-10-24   2024-10-24  1979-09-01  4.500    WI
336      2024-10-24   2024-10-24  2004-01-01    5.2    WI
261      2024-10-24   2024-10-24  1997-10-01  3.400    WI
1032     2024-10-24   2024-10-24  2013-04-01    6.9    WI
140      2024-10-24   2024-10-24  1987-09-01    5.5    WI
533      2024-10-24   2024-10-24  2020-06-01    8.7    WI
438      2024-10-24   2024-10-24  2012-07-01    7.0    WI
596      2024-10-24   2024-10-24  1976-12-01    5.5    WI
910      2024-10-24   2024-10-24  2003-02-01    5.6    WI
193      2024-10-24   2024-10-24  1992-02-01    5.0    WI

# Real median household income

In [21]:
states = ["AZ", "GA", "MI", "NV", "NC", "PA", "WI"]


data = []
base_prefix = "MEHOINUS"
base_suffix = "A672N"
# MEHOINUSA672N
for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

inc_data = pd.DataFrame(data)
inc_data

   realtime_start realtime_end        date  value state
0      2024-10-23   2024-10-23  1984-01-01  54530    WI
1      2024-10-23   2024-10-23  1985-01-01  59110    WI
2      2024-10-23   2024-10-23  1986-01-01  66110    WI
3      2024-10-23   2024-10-23  1987-01-01  63800    WI
4      2024-10-23   2024-10-23  1988-01-01  69010    WI
..            ...          ...         ...    ...   ...
75     2024-10-23   2024-10-23  2019-01-01  79620    WI
76     2024-10-23   2024-10-23  2020-01-01  78860    WI
77     2024-10-23   2024-10-23  2021-01-01  78320    WI
78     2024-10-23   2024-10-23  2022-01-01  76240    WI
79     2024-10-23   2024-10-23  2023-01-01  79690    WI

[80 rows x 5 columns]

In [5]:
data = []
base_prefix = "MEHOINUS"
base_suffix = "A672N"
# MEHOINUSA672N
for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

inc_data = pd.DataFrame(data)
inc_data

   realtime_start realtime_end        date  value state
0      2024-10-23   2024-10-23  1984-01-01  54530    WI
1      2024-10-23   2024-10-23  1985-01-01  59110    WI
2      2024-10-23   2024-10-23  1986-01-01  66110    WI
3      2024-10-23   2024-10-23  1987-01-01  63800    WI
4      2024-10-23   2024-10-23  1988-01-01  69010    WI
..            ...          ...         ...    ...   ...
75     2024-10-23   2024-10-23  2019-01-01  79620    WI
76     2024-10-23   2024-10-23  2020-01-01  78860    WI
77     2024-10-23   2024-10-23  2021-01-01  78320    WI
78     2024-10-23   2024-10-23  2022-01-01  76240    WI
79     2024-10-23   2024-10-23  2023-01-01  79690    WI

[80 rows x 5 columns]

In [8]:


data = []
base_prefix = "LES12528"
base_suffix = "81600Q"
# MEHOINUSA672N
for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={base_prefix}{state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    response = requests.get(url)

response.json()
#     data = response.json()['observations']
#     # add the state to the data
#     for d in data:
#         d['state'] = state
#     data.extend(data)

# inc_data = pd.DataFrame(data)
# inc_data

{'error_code': 400,
 'error_message': 'Bad Request.  The series does not exist.'}

In [ ]:
Real Per Capita Personal Income in Arkansas (AROI96)
 Real Per Capita Personal Income for Texas (TXRPIPC)
Real Per Capita Personal Income for Arizona (AZRPIPC)
Real Per Capita Personal Income for Georgia (GARPIPC)
Real Per Capita Personal Income for Michigan (MIRPIPC)
Real Per Capita Personal Income for Nevada (NVRPIPC)
 Real Per Capita Personal Income for North Carolina (NCRPIPC)
 Real Per Capita Personal Income for Pennsylvania (PARPIPC)
 Real Per Capita Personal Income for Wisconsin (WIRPIPC)

In [22]:
states = ["AZR", "GAR", "MIR", "NVR", "NCR", "PAR", "WIR"]
data = []
base_suffix = "PIPC"
# MEHOINUSA672N
for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={state}{base_suffix}&api_key=22ee7a76e736e32f54f5df0a7171538d&file_type=json"
    response = requests.get(url)
    data = response.json()['observations']
    # add the state to the data
    for d in data:
        d['state'] = state
    data.extend(data)

inc_data = pd.DataFrame(data)
inc_data

   realtime_start realtime_end        date  value state
0      2024-11-04   2024-11-04  2008-01-01  46757   WIR
1      2024-11-04   2024-11-04  2009-01-01  45576   WIR
2      2024-11-04   2024-11-04  2010-01-01  45543   WIR
3      2024-11-04   2024-11-04  2011-01-01  47258   WIR
4      2024-11-04   2024-11-04  2012-01-01  47869   WIR
5      2024-11-04   2024-11-04  2013-01-01  47518   WIR
6      2024-11-04   2024-11-04  2014-01-01  48519   WIR
7      2024-11-04   2024-11-04  2015-01-01  50674   WIR
8      2024-11-04   2024-11-04  2016-01-01  50962   WIR
9      2024-11-04   2024-11-04  2017-01-01  51771   WIR
10     2024-11-04   2024-11-04  2018-01-01  52805   WIR
11     2024-11-04   2024-11-04  2019-01-01  53670   WIR
12     2024-11-04   2024-11-04  2020-01-01  57334   WIR
13     2024-11-04   2024-11-04  2021-01-01  59557   WIR
14     2024-11-04   2024-11-04  2022-01-01  57465   WIR
15     2024-11-04   2024-11-04  2008-01-01  46757   WIR
16     2024-11-04   2024-11-04  2009-01-01  45576   WIR
17     2024-11-04   2024-11-04  2010-01-01  45543   WIR
18     2024-11-04   2024-11-04  2011-01-01  47258   WIR
19     2024-11-04   2024-11-04  2012-01-01  47869   WIR
20     2024-11-04   2024-11-04  2013-01-01  47518   WIR
21     2024-11-04   2024-11-04  2014-01-01  48519   WIR
22     2024-11-04   2024-11-04  2015-01-01  50674   WIR
23     2024-11-04   2024-11-04  2016-01-01  50962   WIR
24     2024-11-04   2024-11-04  2017-01-01  51771   WIR
25     2024-11-04   2024-11-04  2018-01-01  52805   WIR
26     2024-11-04   2024-11-04  2019-01-01  53670   WIR
27     2024-11-04   2024-11-04  2020-01-01  57334   WIR
28     2024-11-04   2024-11-04  2021-01-01  59557   WIR
29     2024-11-04   2024-11-04  2022-01-01  57465   WIR

In [30]:
import requests
import pandas as pd

states = ["AZR", "GAR", "MIR", "NVR", "NCR", "PAR", "WIR"]
all_data = []  # To store all states' data
base_suffix = "PIPC"
api_key = "22ee7a76e736e32f54f5df0a7171538d"

for state in states:
    url = f"https://api.stlouisfed.org/fred/series/observations?series_id={state}{base_suffix}&api_key={api_key}&file_type=json"
    response = requests.get(url)
    state_data = response.json().get('observations', [])
    
    # Add the state identifier to each observation
    for d in state_data:
        d['state'] = state
    
    # Append the state's data to the overall list
    all_data.extend(state_data)

# Convert to DataFrame
inc_data = pd.DataFrame(all_data)
inc_data

    realtime_start realtime_end        date  value state
0       2024-11-04   2024-11-04  2008-01-01  38967   AZR
1       2024-11-04   2024-11-04  2009-01-01  36641   AZR
2       2024-11-04   2024-11-04  2010-01-01  37162   AZR
3       2024-11-04   2024-11-04  2011-01-01  38384   AZR
4       2024-11-04   2024-11-04  2012-01-01  39253   AZR
..             ...          ...         ...    ...   ...
100     2024-11-04   2024-11-04  2018-01-01  52805   WIR
101     2024-11-04   2024-11-04  2019-01-01  53670   WIR
102     2024-11-04   2024-11-04  2020-01-01  57334   WIR
103     2024-11-04   2024-11-04  2021-01-01  59557   WIR
104     2024-11-04   2024-11-04  2022-01-01  57465   WIR

[105 rows x 5 columns]

In [31]:
# Define the mapping of state codes to state names
state_names = {
    "AZR": "Arizona",
    "GAR": "Georgia",
    "MIR": "Michigan",
    "NVR": "Nevada",
    "NCR": "North Carolina",
    "PAR": "Pennsylvania",
    "WIR": "Wisconsin"
}

# Add a new 'name' column to inc_data by mapping the 'state' column
inc_data['name'] = inc_data['state'].map(state_names)
inc_data

    realtime_start realtime_end        date  value state       name
0       2024-11-04   2024-11-04  2008-01-01  38967   AZR    Arizona
1       2024-11-04   2024-11-04  2009-01-01  36641   AZR    Arizona
2       2024-11-04   2024-11-04  2010-01-01  37162   AZR    Arizona
3       2024-11-04   2024-11-04  2011-01-01  38384   AZR    Arizona
4       2024-11-04   2024-11-04  2012-01-01  39253   AZR    Arizona
..             ...          ...         ...    ...   ...        ...
100     2024-11-04   2024-11-04  2018-01-01  52805   WIR  Wisconsin
101     2024-11-04   2024-11-04  2019-01-01  53670   WIR  Wisconsin
102     2024-11-04   2024-11-04  2020-01-01  57334   WIR  Wisconsin
103     2024-11-04   2024-11-04  2021-01-01  59557   WIR  Wisconsin
104     2024-11-04   2024-11-04  2022-01-01  57465   WIR  Wisconsin

[105 rows x 6 columns]

In [32]:
# Ensure the 'date' column is in datetime format
inc_data['date'] = pd.to_datetime(inc_data['date'])

# Filter for rows where the year in 'date' is between 2020 and 2024
inc_data = inc_data[(inc_data['date'].dt.year >= 2018) & (inc_data['date'].dt.year <= 2024)]
inc_data

    realtime_start realtime_end       date  value state            name
10      2024-11-04   2024-11-04 2018-01-01  45656   AZR         Arizona
11      2024-11-04   2024-11-04 2019-01-01  47219   AZR         Arizona
12      2024-11-04   2024-11-04 2020-01-01  50355   AZR         Arizona
13      2024-11-04   2024-11-04 2021-01-01  53694   AZR         Arizona
14      2024-11-04   2024-11-04 2022-01-01  50480   AZR         Arizona
25      2024-11-04   2024-11-04 2018-01-01  48286   GAR         Georgia
26      2024-11-04   2024-11-04 2019-01-01  49770   GAR         Georgia
27      2024-11-04   2024-11-04 2020-01-01  52197   GAR         Georgia
28      2024-11-04   2024-11-04 2021-01-01  53954   GAR         Georgia
29      2024-11-04   2024-11-04 2022-01-01  50954   GAR         Georgia
40      2024-11-04   2024-11-04 2018-01-01  48952   MIR        Michigan
41      2024-11-04   2024-11-04 2019-01-01  49322   MIR        Michigan
42      2024-11-04   2024-11-04 2020-01-01  53577   MIR        Michigan
43      2024-11-04   2024-11-04 2021-01-01  55251   MIR        Michigan
44      2024-11-04   2024-11-04 2022-01-01  52679   MIR        Michigan
55      2024-11-04   2024-11-04 2018-01-01  50302   NVR          Nevada
56      2024-11-04   2024-11-04 2019-01-01  50824   NVR          Nevada
57      2024-11-04   2024-11-04 2020-01-01  53887   NVR          Nevada
58      2024-11-04   2024-11-04 2021-01-01  58810   NVR          Nevada
59      2024-11-04   2024-11-04 2022-01-01  55582   NVR          Nevada
70      2024-11-04   2024-11-04 2018-01-01  48656   NCR  North Carolina
71      2024-11-04   2024-11-04 2019-01-01  50930   NCR  North Carolina
72      2024-11-04   2024-11-04 2020-01-01  54314   NCR  North Carolina
73      2024-11-04   2024-11-04 2021-01-01  55605   NCR  North Carolina
74      2024-11-04   2024-11-04 2022-01-01  53226   NCR  North Carolina
85      2024-11-04   2024-11-04 2018-01-01  54503   PAR    Pennsylvania
86      2024-11-04   2024-11-04 2019-01-01  55410   PAR    Pennsylvania
87      2024-11-04   2024-11-04 2020-01-01  59170   PAR    Pennsylvania
88      2024-11-04   2024-11-04 2021-01-01  61233   PAR    Pennsylvania
89      2024-11-04   2024-11-04 2022-01-01  57849   PAR    Pennsylvania
100     2024-11-04   2024-11-04 2018-01-01  52805   WIR       Wisconsin
101     2024-11-04   2024-11-04 2019-01-01  53670   WIR       Wisconsin
102     2024-11-04   2024-11-04 2020-01-01  57334   WIR       Wisconsin
103     2024-11-04   2024-11-04 2021-01-01  59557   WIR       Wisconsin
104     2024-11-04   2024-11-04 2022-01-01  57465   WIR       Wisconsin

In [36]:
import altair as alt
import pandas as pd

# Sample DataFrame assuming `date`, `value`, and `stname` columns
# Filtered DataFrame for Jan 2020 and Jan 2024 only
df_slope = inc_data[inc_data['date'].isin(['2018-01-01', '2022-01-01'])]

# Convert dates to categorical labels
df_slope['date_label'] = df_slope['date'].apply(lambda x: 'Jan 2018' if x == '2018-01-01' else 'Jan 2022')

# Slope Graph
slope_chart = alt.Chart(df_slope).mark_line(point=True).encode(
    x=alt.X('date_label:N', title='', scale=alt.Scale(padding=0)),
    y=alt.Y('value:Q', title='',
            axis=alt.Axis(labelExpr="'$' + format(datum.value,',')")),
    color=alt.Color('name:N', legend=None),
    tooltip=['name:N', 'date_label:N', 'value:Q']
).properties(
    width=500,
    height=300,
    title={
        "text": "USA swing states: Real Per Capita Personal Income",
        "anchor": "start",
        "subtitle": ["Chained 2017 USD", "Source: BLS 2024", ""],
        "subtitleColor": "#676A86"
    }
)

# Adding Text Labels only at 2024
text_labels = alt.Chart(df_slope[df_slope['date_label'] == 'Jan 2022']).mark_text(
    align='left',
    dx=5,
    dy=2
    # {
    #     "expr": "datum.stname == 'Pennsylvania' ? 4 : datum.stname == 'North Carolina' ? -8 : datum.stname == 'Arizona' ? 0 : datum.stname == 'Georgia' ? -6 : 0"
    # }
).encode(
    x=alt.X('date_label:N'),
    y=alt.Y('value:Q'),
    text='name:N',
    color=alt.Color('name:N', legend=None)
)

# Combine line and text
slope_graph = slope_chart + text_labels
slope_graph

/var/folders/fs/cwydqrpj7dbf34j998kj2_f40000gn/T/ipykernel_94152/307111398.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slope['date_label'] = df_slope['date'].apply(lambda x: 'Jan 2018' if x == '2018-01-01' else 'Jan 2022')

alt.LayerChart(...)