In [3]:
import pandas as pd
import numpy as np
import altair as alt
import eco_style

alt.themes.enable('light')

ThemeRegistry.enable('light')

In [41]:
us_df = pd.read_json("https://api.economicsobservatory.com/usa/eGWh?vega")
us_df['series'] = 'USA'
chn_df = pd.read_json("https://api.economicsobservatory.com/chn/eGWh?vega")
chn_df['series'] = 'China'
gb_df = pd.read_json("https://api.economicsobservatory.com/gbr/eGWh?vega")
gb_df['series'] = 'UK'

df = pd.concat([us_df, chn_df, gb_df])
df

         date        value series
0  1971-01-01  1703380.000    USA
1  1972-01-01  1851109.000    USA
2  1973-01-01  1965509.000    USA
3  1974-01-01  1957335.000    USA
4  1975-01-01  2011160.000    USA
..        ...          ...    ...
47 2018-01-01   329499.038     UK
48 2019-01-01   321442.302     UK
49 2020-01-01   309209.526     UK
50 2021-01-01   305422.446     UK
51 2022-01-01   321918.198     UK

[137 rows x 3 columns]

In [42]:
df.query("date == '2010-01-01'")

         date        value series
39 2010-01-01  4354363.000    USA
20 2010-01-01  4197204.000  China
39 2010-01-01   379640.425     UK

In [46]:
df['label'] = np.where(df.date == df.date.max(), df.series, '')

base = alt.Chart(df.query('date > "1990-01-01" and series != "UK"')).encode(
    x=alt.X('date:T'),
    y=alt.Y('value:Q', title=''),
    color=alt.Color('series:N', title='Country', legend=None),
)

line = base.mark_line()

labels = base.mark_text(align='left', dx=5, dy=0, fontSize=12).encode(
    text='label',
)

chart = line + labels

chart = chart.properties(
    title=alt.TitleParams(
        text='Electricity Generation',
        subtitle=['Gigawatt hours, source: IEA via ECO-API', ''],
        anchor='start',
        fontSize=16,
        subtitleColor="rgb(143, 143, 143)",
        fontWeight='normal'
    ),
    width=400,
    height=300
)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

# Renewables

In [50]:
total_gen = pd.read_json("https://api.economicsobservatory.com/gbr/eGWh?vega")
total_gen['series'] = 'Total'
renewables_gen = pd.read_json("https://api.economicsobservatory.com/gbr/rGwh?vega")
renewables_gen['series'] = 'Renewable'
df = pd.concat([total_gen, renewables_gen])

In [52]:
df['label'] = np.where(df.date == df.date.max(), df.series, '')

base = alt.Chart(df.query('date > "1990-01-01" and series != "UK"')).encode(
    x=alt.X('date:T'),
    y=alt.Y('value:Q', title=''),
    color=alt.Color('series:N', title='Country', legend=None),
)

line = base.mark_line()

labels = base.mark_text(align='left', dx=5, dy=0, fontSize=12).encode(
    text='label',
)

chart = line + labels

chart = chart.properties(
    title=alt.TitleParams(
        text='Electricity Generation',
        subtitle=['Gigawatt hours, source: IEA via ECO-API', ''],
        anchor='start',
        fontSize=16,
        subtitleColor="rgb(143, 143, 143)",
        fontWeight='normal'
    ),
    width=400,
    height=300
)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

# UK vs France

In [55]:
gbr_df = pd.read_json("https://api.economicsobservatory.com/usa/eGWh?vega")
gbr_df['series'] = 'UK'
fra_df = pd.read_json("https://api.economicsobservatory.com/fra/eGWh?vega")
fra_df['series'] = 'France'

df = pd.concat([gb_df, fra_df])
df

         date       value  series
0  1971-01-01  255756.000      UK
1  1972-01-01  262767.000      UK
2  1973-01-01  281352.000      UK
3  1974-01-01  272402.000      UK
4  1975-01-01  270790.000      UK
..        ...         ...     ...
47 2018-01-01  576458.538  France
48 2019-01-01  566290.249  France
49 2020-01-01  527885.573  France
50 2021-01-01  550952.316  France
51 2022-01-01  469749.247  France

[104 rows x 3 columns]

In [59]:
gbr_df = pd.read_json("https://api.economicsobservatory.com/usa/eGWh?vega")
gbr_df['series'] = 'UK'
fra_df = pd.read_json("https://api.economicsobservatory.com/deu/eGWh?vega")
fra_df['series'] = 'France'

df = pd.concat([gb_df, fra_df])
df

df['label'] = np.where(df.date == df.date.max(), df.series, '')

base = alt.Chart(df.query('date > "1990-01-01"')).encode(
    x=alt.X('date:T'),
    y=alt.Y('value:Q', title=''),
    color=alt.Color('series:N', title='Country', legend=None),
)

line = base.mark_line()

labels = base.mark_text(align='left', dx=5, dy=0, fontSize=12).encode(
    text='label',
)

chart = line + labels

chart = chart.properties(
    title=alt.TitleParams(
        text='Electricity Generation',
        subtitle=['Gigawatt hours, source: IEA via ECO-API', ''],
        anchor='start',
        fontSize=16,
        subtitleColor="rgb(143, 143, 143)",
        fontWeight='normal'
    ),
    width=400,
    height=300
)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

# UK vs France: Nuclear

In [63]:
gbr_df = pd.read_json("https://api.economicsobservatory.com/gbr/nGWh?vega")
gbr_df['series'] = 'UK'
fra_df = pd.read_json("https://api.economicsobservatory.com/fra/nGWh?vega")
fra_df['series'] = 'France'

df = pd.concat([gbr_df, fra_df])
df

df['label'] = np.where(df.date == df.date.max(), df.series, '')

base = alt.Chart(df.query('date > "1990-01-01"')).encode(
    x=alt.X('date:T'),
    y=alt.Y('value:Q', title=''),
    color=alt.Color('series:N', title='Country', legend=None),
)

line = base.mark_line()

labels = base.mark_text(align='left', dx=5, dy=0, fontSize=12).encode(
    text='label',
)

chart = line + labels

chart = chart.properties(
    title=alt.TitleParams(
        text='Electricity Generation',
        subtitle=['Gigawatt hours, source: IEA via ECO-API', ''],
        anchor='start',
        fontSize=16,
        subtitleColor="rgb(143, 143, 143)",
        fontWeight='normal'
    ),
    width=400,
    height=300
)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

In [51]:
df

         date       value     series
0  1971-01-01  255756.000      Total
1  1972-01-01  262767.000      Total
2  1973-01-01  281352.000      Total
3  1974-01-01  272402.000      Total
4  1975-01-01  270790.000      Total
..        ...         ...        ...
47 2018-01-01  109771.864  Renewable
48 2019-01-01  119581.499  Renewable
49 2020-01-01  134740.952  Renewable
50 2021-01-01  122178.143  Renewable
51 2022-01-01  134849.100  Renewable

[104 rows x 3 columns]

In [48]:
df

         date       value
0  1971-01-01  255756.000
1  1972-01-01  262767.000
2  1973-01-01  281352.000
3  1974-01-01  272402.000
4  1975-01-01  270790.000
..        ...         ...
47 2018-01-01  109771.864
48 2019-01-01  119581.499
49 2020-01-01  134740.952
50 2021-01-01  122178.143
51 2022-01-01  134849.100

[104 rows x 2 columns]

In [40]:
df[df.date == df.date.max()]

         date        value series  label
51 2022-01-01  4479416.422    USA    USA
32 2022-01-01  8872191.256  China  China