In [1]:
import pandas as pd

## Figure 1

In [2]:
fig1_data = pd.read_excel("Industrial_strategy_figures_data.xlsx", sheet_name="Figure1")

fig1_data

    year         country    Instrumenttype  perc_type
0   2019          Canada            Grants      0.044
1   2019         Ireland            Grants      0.225
2   2019         Germany            Grants      0.257
3   2019  United Kingdom            Grants      0.283
4   2019          Sweden            Grants      0.307
5   2019          France            Grants      0.466
6   2019     Netherlands            Grants      0.467
7   2019          Israel            Grants      0.506
8   2019         Denmark            Grants      0.534
9   2019           Italy            Grants      0.747
10  2019        Slovenia            Grants      1.400
11  2019         Ireland        Guarantees      0.025
12  2019     Netherlands        Guarantees      0.182
13  2019  United Kingdom        Guarantees      0.210
14  2019         Germany        Guarantees      0.614
15  2019         Denmark        Guarantees      0.820
16  2019          France        Guarantees      1.015
17  2019          Sweden        Guarantees      1.114
18  2019           Italy        Guarantees      1.353
19  2019          Israel        Guarantees      1.928
20  2019        Slovenia        Guarantees      2.861
21  2019          Canada        Guarantees      3.413
22  2019  United Kingdom             Loans      0.030
23  2019          Israel             Loans      0.052
24  2019         Ireland             Loans      0.084
25  2019     Netherlands             Loans      0.090
26  2019         Denmark             Loans      0.332
27  2019           Italy             Loans      0.478
28  2019          France             Loans      0.704
29  2019         Germany             Loans      0.751
30  2019        Slovenia             Loans      1.076
31  2019          Sweden             Loans      1.194
32  2019          Canada             Loans      1.593
33  2019         Germany  Tax expenditures      0.286
34  2019          Sweden  Tax expenditures      0.312
35  2019         Ireland  Tax expenditures      0.514
36  2019          Israel  Tax expenditures      0.619
37  2019           Italy  Tax expenditures      0.696
38  2019        Slovenia  Tax expenditures      0.701
39  2019          Canada  Tax expenditures      0.720
40  2019         Denmark  Tax expenditures      1.195
41  2019     Netherlands  Tax expenditures      1.391
42  2019          France  Tax expenditures      1.592
43  2019  United Kingdom  Tax expenditures      2.140

In [3]:
fig1_data.to_csv("fig1_data.csv", index=False)

## Figure 2

In [ ]:
fig2_data = pd.read_excel(
    "Industrial_strategy_figures_data.xlsx",
    sheet_name="Figure2",
    skiprows=1
                          )

fig2_data

,log(lab prod),Coefficient,Lower,Upper,Lower.1,Upper.1,Lower.2,Upper.2
0,t-2,-0.307592,-0.495353,-0.119832,-0.465043,-0.150141,-0.430178,-0.185006
1,t-1,-0.346240,-0.678712,-0.013768,-0.625119,-0.067361,-0.563420,-0.129060
2,t,-0.261533,-0.678252,0.155187,-0.611125,0.088060,-0.533815,0.010750
3,t+1,0.162054,-0.332265,0.656373,-0.252583,0.576691,-0.160850,0.484958
4,t+2,0.233323,-0.393201,0.859846,-.2920646 .7587101,NaN,-0.175724,0.642370

In [19]:
fig2_data.columns = ['log(lab prod)', 'Coefficient', 'Lower (95)', 'Upper (95)', 'Lower (90)', 'Upper (90)',
       'Lower (80)', 'Upper (80)']

In [20]:
fig2_data.to_csv("fig2_data.csv", index=False)

## Figure 3

In [15]:
fig3_data = pd.read_excel(
    "Industrial_strategy_figures_data.xlsx",
    sheet_name="Figure3"
                          )
fig3_data

,coordinate_x,coordinate_y,NUTS_NAME,ITL_ID,LQ,percentile
0,3.593457e+06,3.556013e+06,Hartlepool and Stockton-on-Tees,TLC11,0.878414,<75
1,3.608557e+06,3.548660e+06,South Teesside,TLC12,0.846557,<75
2,3.576858e+06,3.553032e+06,Darlington,TLC13,0.910301,<75
3,3.561450e+06,3.572082e+06,Durham CC,TLC14,0.904514,<75
4,3.557124e+06,3.634653e+06,Northumberland,TLC21,0.766207,<75
...,...,...,...,...,...,...
174,3.271254e+06,3.672191e+06,Causeway Coast and Glens,TLN0C,0.719683,<75
175,3.286652e+06,3.626922e+06,Antrim and Newtownabbey,TLN0D,1.088592,90-95
176,3.291043e+06,3.603804e+06,Lisburn and Castlereagh,TLN0E,1.146753,95-99
177,3.296231e+06,3.645072e+06,Mid and East Antrim,TLN0F,0.827552,<75
178,3.197785e+06,3.618549e+06,Fermanagh and Omagh,TLN0G,0.941558,<75

In [16]:
fig3_data.columns

Index(['coordinate_x', 'coordinate_y', 'NUTS_NAME', 'ITL_ID', 'LQ',
       'percentile'],
      dtype='object')

In [17]:
fig3_data = fig3_data[['NUTS_NAME', 'ITL_ID', 'LQ',
       'percentile']]

fig3_data.to_csv("fig3_data.csv", index=False)

## Figure 4

In [4]:
fig4_data = pd.read_excel("Industrial_strategy_figures_data.xlsx", sheet_name="Figure4")

In [5]:
fig4_data

                                  sic          HHI       C10    markup
0                             economy  1100.723999  0.573783  1.169539
1              Advanced Manufacturing  1690.555908  0.734213  1.079590
2                        Clean energy   487.347015  0.469870  0.807879
3                 Creative industries   411.960938  0.358973  0.869220
4            Digital and technologies  1070.163818  0.517167  1.010027
5                       Life sciences  1089.195557  0.588358  1.018463
6  Professional and business services   427.354187  0.318273  1.399368

In [6]:
fig4_data.columns

Index(['sic', 'HHI', 'C10', 'markup'], dtype='object')

In [8]:
# melt the data to long format
fig4_data_long = fig4_data.melt(id_vars=["sic"], var_name="var", value_name="val")

fig4_data_long.rename(columns={"sic": "sector"}, inplace=True)

In [11]:
fig4_data_long.to_csv("fig4_data.csv", index=False)