In [2]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel('us_states_gdp.xlsx', sheet_name='Table 1', skiprows=5)

df = df[['Unnamed: 0', 'Unnamed: 10']]

df. columns = ['State', 'GDP']

# remove spaces at the end of the State values
df['State'] = df['State'].str.strip()

# make a list of the state names
state_names = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
               'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
               'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
               'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
               'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
               'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
               'New Jersey', 'New Mexico', 'New York', 'North Carolina',
               'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
               'Pennsylvania', 'Rhode Island', 'South Carolina',
               'South Dakota', 'Tennessee', 'Texas',
               'Utah',
               'Vermont', 'Virginia', 'Washington', 'West Virginia',
               'Wisconsin', 'Wyoming']

# remove the rows that are not in the list of state names
df = df[df['State'].isin(state_names)]

df.State.nunique()

51

In [14]:
# Create a dictionary mapping state names to FIPS codes
fips_codes = {
    'Alabama': '01', 'Alaska': '02', 'Arizona': '04', 'Arkansas': '05', 
    'California': '06', 'Colorado': '08', 'Connecticut': '09', 'Delaware': '10', 
    'District of Columbia': '11', 'Florida': '12', 'Georgia': '13', 'Hawaii': '15', 
    'Idaho': '16', 'Illinois': '17', 'Indiana': '18', 'Iowa': '19', 
    'Kansas': '20', 'Kentucky': '21', 'Louisiana': '22', 'Maine': '23', 
    'Maryland': '24', 'Massachusetts': '25', 'Michigan': '26', 'Minnesota': '27', 
    'Mississippi': '28', 'Missouri': '29', 'Montana': '30', 'Nebraska': '31', 
    'Nevada': '32', 'New Hampshire': '33', 'New Jersey': '34', 'New Mexico': '35', 
    'New York': '36', 'North Carolina': '37', 'North Dakota': '38', 'Ohio': '39', 
    'Oklahoma': '40', 'Oregon': '41', 'Pennsylvania': '42', 'Rhode Island': '44', 
    'South Carolina': '45', 'South Dakota': '46', 'Tennessee': '47', 'Texas': '48', 
    'Utah': '49', 'Vermont': '50', 'Virginia': '51', 'Washington': '53', 
    'West Virginia': '54', 'Wisconsin': '55', 'Wyoming': '56'
}

# Add FIPS codes to the dataframe
df['FIPS'] = df['State'].map(fips_codes)

# Display the first few rows to verify
df.head()

           State     GDP FIPS
2    Connecticut  294028   09
3          Maine   77477   23
4  Massachusetts  633618   25
5  New Hampshire   96501   33
6   Rhode Island   65281   44

In [16]:
# make GDP and fips columns numeric
df['GDP'] = pd.to_numeric(df['GDP'], errors='coerce')
df['FIPS'] = pd.to_numeric(df['FIPS'], errors='coerce')

df

                   State      GDP  FIPS
2            Connecticut   294028     9
3                  Maine    77477    23
4          Massachusetts   633618    25
5          New Hampshire    96501    33
6           Rhode Island    65281    44
7                Vermont    36041    50
9               Delaware    79653    10
10  District of Columbia   148020    11
11              Maryland   432193    24
12            New Jersey   678968    34
13              New York  1834561    36
14          Pennsylvania   818529    42
16              Illinois   895343    17
17               Indiana   419473    18
18              Michigan   566033    26
19                  Ohio   727262    39
20             Wisconsin   354076    55
22                  Iowa   201097    19
23                Kansas   185721    20
24             Minnesota   395307    27
25              Missouri   356653    29
26              Nebraska   145909    31
27          North Dakota    59916    38
28          South Dakota    57498    46
30               Alabama   252665     1
31              Arkansas   148208     5
32               Florida  1339619    12
33               Georgia   701073    13
34              Kentucky   229885    21
35             Louisiana   256422    22
36           Mississippi   122438    28
37        North Carolina   661948    37
38        South Carolina   273325    45
39             Tennessee   432266    47
40              Virginia   616058    51
41         West Virginia    83654    54
43               Arizona   433763     4
44            New Mexico   112801    35
45              Oklahoma   212784    40
46                 Texas  2172369    48
48              Colorado   445302     8
49                 Idaho    99603    16
50               Montana    58520    30
51                  Utah   235716    49
52               Wyoming    40516    56
54                Alaska    54881     2
55            California  3365083     6
56                Hawaii    90280    15
57                Nevada   200921    32
58                Oregon   265147    41
59            Washington   702034    53

In [18]:
df.columns = ['name', 'gdp', 'id']

In [19]:
df.to_csv('us_states_gdp.csv', index=False)